@font-face {
    font-family: IRANSans;
    src: url(IRANSans.ttf);
}

.mfl-form-group {
    margin-bottom: 5px;
    width: calc(50% - 10px);
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    position: relative;
    transition: all .3s;
}

.mfl-form-group:after, .mfl-form-group:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 13px;
    top: 20px;
    border-bottom: 3px solid #39DA8A;
    border-right: 3px solid #39DA8A;
    transform: rotate(45deg);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s, width .3s, height .5s, top .2s;
}

.mfl-form-group.validated:after {
    opacity: 1;
    top: 7px;
    width: 5px;
    height: 10px;
}

.mfl-form-group.mfl-form-checkbox.validated:after, .mfl-form-group.mfl-form-radio.validated:after {
    opacity: 0;
}

.mfl-form-group.select:after {
    left: 27px;
}

.mfl-form-group.textarea.validated:after {
    top: 4px;
}

.mfl-form-group.validated .mfl-input, .mfl-form-group.validated .mfl-checkboxes-field, .mfl-form-group.validated .mfl-radios-field {
    border-color: #39da8a;
}

.mfl-input {
    display: block;
    width: 100%;
    height: 32px;
    padding: 5px 10 5px 22px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 20px;
    color: white;
    background-color: rgba(31, 31, 31, 0.1);
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mfl-form-validation {
    display: block;
    margin-top: 3px;
    color: #ff5b5c;
    font-size: 10px;
    font-weight: bold;
}

.mfl-form {
    font-family: IRANSans;
    font-size: 12.5px;
    line-height: 13px;
    display: flex;
    width: 400%;
}

select.mfl-input {
    padding-top: 4px;
    color: #c7c7c7;
}

.mfl-form input[type="submit"], .mfl-page button {
    color: #fff;
    background-color: #5A8DEE;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    min-width: 60px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: inherit;
    min-width: 90px;
}

.mfl-input:focus {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.12);
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0,123,255,.25);
}

.mfl-input[type='checkbox']:focus {
    box-shadow: none;
}

select.mfl-input[multiple] {
    height: auto;
    overflow: hidden;
    background-color: #41475e;
}

.mfl-form-description {
    display: block;
    margin-top: 3px;
    color: darkgray;
    font-size: 10px;
}

.mfl-input::placeholder {
    font-weight: 300;
    color: #c7c7c7;
    text-align: right !important;
    direction: rtl !important;
}

.mfl-input.error, .mfl-radios-field.error, .mfl-checkboxes-field.error, input.error ~ .mfl-image {
    border-color: #ff5b5c !important;
}

.mfl-checkbox > label {
    color: dimgray;
}

#mfl-deliveryDay-wrapper > label {
    color: dimgray;
    line-height: 2;
}

.mfl-page {
    width: 25%;
    box-shadow: -4px 4px 8px 0 rgba(11,26,51,.63);
    background-color: #272e48;
    border-radius: 3px;
    padding: 15px 8px;
    margin: 0;
    height: fit-content;
    transition: all .3s;
    opacity: 0;
}

.mfl-page:first-child {
    opacity: 1;
}

.mfl-form-wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    scroll-behavior: smooth;
    transition: all .2s;
}

.mfl-form-bottom {
    min-height: 12px;
}

.mfl-form-pagination {
    text-align: center;
    margin-top: 20px;
}

.mfl-prev-button {
    margin: 0 10px;
}

.mfl-next-button {
    margin: 0 10px;
}

.mfl-page button:hover, .mfl-page input[type="submit"]:hover {
    background-color: #719DF0!important;
}

#mfl-HouseNumber-wrapper .mfl-group-append {
    margin-right: -1px;
    display: inline-block;
    width: calc(40% - 25px) !important;
    vertical-align: top;
    overflow: hidden;
    padding: 7px 5px 8px 19px;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(37, 37, 37, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

#mfl-HouseNumber-wrapper .mfl-group-text {
    align-items: center;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    white-space: nowrap;
}

.mfl-input.mfl-input-prepend {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    width: 60%;
}

.mfl-group-text [type='checkbox'] {
    vertical-align: sub !important;
}

.mfl-group-prepend {
    display: inline-block;
    width: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mfl-input[disabled] {
    background-color: gray;
}

#mfl-recipient-wrapper, #mfl-deliveryTime-wrapper {
    width: 98%;
}

#mfl-map {
    width: 100%;
    height: 400px;
}

.mfl-form-group option {
    background-color: #41475e;
}

.mfl-page-title {
    color: #c7c7c7;
    padding: 0 7px 10px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.3);
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.mfl-submit-simple {
    display: none;
    text-align: center;
}

.mfl-form-radio, .mfl-form-group.map {
    width: calc(100% - 10px);
}

.mfl-form-radio .mfl-radios-field, .mfl-form-checkbox .mfl-checkboxes-field, .mfl-form-group.cardnumber .mfl-card-field, .mfl-form-group.phone .mfl-phone-field {
    color: #c7c7c7;
    background-color: rgba(31, 31, 31, 0.1);
    padding: 9px 10px;
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 3px;
}

.mfl-form-radio .mfl-radios-group, .mfl-form-checkbox .mfl-checkboxes-group {
    float: left;
    margin-top: -1px;
}

.mfl-form-radio input[type='radio'], .mfl-form-checkbox input[type='checkbox'] {
    position: relative;
    margin: 2px 7px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    vertical-align: text-top;
}

.mfl-form-checkbox input[type='checkbox'] {
    margin: 2px 6px;
}

.mfl-form-radio input[type='radio']:after {
    content: ' ';
    position: absolute;
    right: -1px;
    left: -1px;
    top: -1px;
    bottom: -1px;
    border-radius: 50%;
    background-color: #272e48;
    border: 5px solid #272e48;
    box-shadow: 0 0 1px 1px lightgray;
    transition: all .2s;
}

.mfl-form-radio input[type='radio']:checked:after {
    background-color: #BDD1F8;
    border-width: 3px;
}

.mfl-form-checkbox input[type='checkbox']:after {
    content: ' ';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: #272e48;
    box-shadow: 0 0 1px 1px lightgray;
    transition: all .2s;
}

.mfl-form-checkbox input[type='checkbox'] ~ span.check {
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    right: 7px;
    border-bottom: 2px solid #BDD1F8;
    border-right: 2px solid #BDD1F8;
    transform: rotate(45deg) scale(.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s, width .2s, height .4s, top .2s;
}

.mfl-form-checkbox input[type='checkbox']:checked ~ span.check {
    width: 3px;
    height: 9px;
    top: -1px;
    opacity: 1;
}

.mfl-checkboxes-group > span {
    position: relative;
}

.mfl-form-radio label, .mfl-form-checkbox label {
    vertical-align: text-top;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

.mfl-form-help {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    color: #c7c7c7;
    z-index: 999;
    bottom: calc(100% + 30px);
    font-size: 11px;
    line-height: 17px;
    border-radius: 3px;
    opacity: 0;
    padding: 0;
    height: 0;
    box-shadow: 0px -1px 5px 1px rgba(158, 158, 158, 0.35);
    transition: all .3s;
}

.mfl-form-help.show {
    opacity: 1;
    padding: 7px;
    height: auto;
    bottom: calc(100% + 10px);
}

.mfl-form-help:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    right: 0;
    left: 0;
    margin: auto;
    border-top: 10px solid rgba(0, 0, 0, 0.9);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.mfl-form-help .strike-word {
    text-decoration: line-through #ff5b5c;
    padding: 0 2px;
    color: #ff5b5c;
}

.mfl-form-group .multiline {
    float: none;
    margin-top: 15px;
}

.mfl-form-group .multiline > * {
    display: inline-block;
    margin: 7px 0;
    color: white;
    width: 100%;
}

.mfl-form-group.textarea {
    width: calc(100% - 10px);
}

textarea.mfl-input {
    height: 90px;
    resize: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mfl-form-group.image, .mfl-form-group.cardnumber, .mfl-form-group.phone {
    width: calc(100% - 10px);
}

.mfl-form-group.image > input[type='file'] {
    display: none;
}

.mfl-file-name {
    font-size: 10px;
}

.mfl-form-group.image > .mfl-image {
    color: #c7c7c7;
    background-color: rgba(31, 31, 31, 0.1);
    padding: 9px 10px;
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    top: 0;
    text-align: left;
    transition: all .2s;
}

.mfl-form-group.image > .mfl-image > label {
    float: right;
    line-height: 26px;
}

.mfl-form-group.image > .mfl-image > button {
    font-size: 10px;
    background-color: #FDAC41 !important;
    border-color: #FDAC41 !important;
    margin-right: 5px;
}

.mfl-card-group, .mfl-phone-group {
    float: left;
    margin-top: -4px;
    direction: ltr;
    width: 60%;
}

.mfl-card-group input {
    max-width: calc(25% - 3px);
    width: 48px;
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-right: 3px;
    font-size: 14px;
    line-height: 16px;
}

.mfl-phone-group > * {
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-right: 3px;
    font-size: 12px;
    font-family: inherit;
    line-height: 16px;
}

.mfl-phone-group > *:nth-child(1) {
    width: 15%;
    height: 20px;
    vertical-align: top;
    direction: rtl;
}

.mfl-phone-group > *:nth-child(2) {
    width: 20%;
}

.mfl-phone-group > *:nth-child(3) {
    width: 40%;
}

.mfl-phone-group > *:nth-child(4) {
    width: 10%;
}

.mfl-form-group.ltr input {
    direction: ltr;
}

.mfl-form-group.ltr.text input {
    padding: 5px 10px;
}

.mfl-form-group.ltr:after {
    right: 13px;
    left: unset;
}

@media only screen and (min-width: 768px) {
    #mfl-Gender-wrapper {
        width: calc(50% - 10px);
    }
}

#mfl-HouseNumber {
    width: 60%;
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#mfl-HouseNumber-wrapper:after {
    left: calc(40% + 12px);
}

#mfl-PresentDays .multiline > * {
    width: 50%;
}

.mfl-page.address-page .mfl-page-body .mfl-form-group:nth-child(odd) {
    width: calc(40% - 10px);
}

.mfl-page.address-page .mfl-page-body .mfl-form-group:nth-child(even) {
    width: calc(60% - 10px);
}

.mfl-form-group.w50 {
    width: calc(50% - 10px);
}

.mfl-form-group.w100 {
    width: calc(100% - 10px);
}

.mfl-selfportrait-desc {
    text-align: center;
    margin: 20px 0 5px;
}

.mfl-selfportrait-desc > div:first-child {
    width: calc(59% - 20px);
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.mfl-selfportrait-desc > div:nth-child(2) {
    width: calc(39% - 20px);
    display: inline-block;
    padding: 10px 15px 10px 0px;
    vertical-align: middle;
}

.mfl-selfportrait-desc .code {
    font-size: 36px;
    font-weight: bold;
    color: #ff5b5c;
    border: 3px solid;
    line-height: 60px;
    padding-top: 5px;
}

.mfl-selfportrait-desc .help {
    line-height: 19px;
    display: block;
    text-align: justify;
    margin-top: 10px;
}

.mfl-selfportrait-desc .image {
    height: 170px;
    background: url(selfie-with-id.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 767px) {
    #mfl-HouseNumber-wrapper {
        width: calc(100% - 10px);
    }

    #mfl-PresentDays-wrapper, #mfl-PresentHours-wrapper {
        width: calc(100% - 10px);
    }

    #mfl-PresentHours .multile > * {
        width: 50%;
    }

    .mfl-form-group, .mfl-form-group.w50 {
        width: calc(100% - 10px);
    }

    .mfl-card-group, .mfl-phone-group, .mfl-form-radio .mfl-radios-group {
        float: none;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}