.mfl-form-wrapper.simple {
    width: auto !important;
    box-shadow: -4px 4px 8px 0 rgba(11,26,51,.63);
    background-color: #272e48;
    border-radius: 3px;
    padding: 15px 8px;
    margin: 0;
    height: fit-content;
}

.mfl-form-wrapper.simple .mfl-page {
    width: auto !important;
    box-shadow: none;
    opacity: 1 !important;
    transform: scale(1) !important;
    display: block !important;
    margin: 0;
}

.mfl-form-wrapper.simple .mfl-form {
    display: block;
    width: auto !important;
}

.mfl-form-wrapper.simple .mfl-form-pagination {
    display: none;
}

.mfl-form-wrapper.simple .mfl-submit-simple {
    display: block;
}