{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}ساخت گروه جدید{% endblock %}
{% block breadcrumb %}ساخت گروه جدید{% endblock %}
{% block page_name %}ساخت گروه جدید{% endblock %}
{% block page_icon %}credit-card{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-sm-12">
            <div class="card">

                {% include 'includes/msg.html' %}                

                <div class="card-header">
                    <h5>ساخت گروه جدید</h5>
                </div>
                <div class="card-body">
                    <h6 class="m-t-10">ساخت گروه جدید</h6>
                    <hr>
                    <div class="row">
                        <div class=" col-sm-12 col-md-6">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label text-lg-right"
                                               for="textinput">نام گروه</label>
                                        <div class="col-lg-12">
                                            <input id="textinput" name="groupName" type="text"
                                                   class="form-control btn-square input-md">
                                            <p class="help-block">مثال: مدیریت</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label text-lg-right"
                                               for="textinput">سطح دسترسی گروه</label>
                                        <div class="col">
                                            <div class="form-group m-t-15 m-checkbox-inline mb-0">
                                                <div class="checkbox checkbox-dark">
                                                    <input id="inline-1" type="checkbox" name="read" data-original-title=""
                                                           title="">
                                                    <label for="inline-1">مشاهده فرم ها</label>
                                                </div>
                                                <div class="checkbox checkbox-dark">
                                                    <input id="inline-2" type="checkbox" name="write" data-original-title=""
                                                           title="">
                                                    <label for="inline-2">ویرایش فرم ها</label>
                                                </div>
                                                <div class="checkbox checkbox-dark">
                                                    <input id="inline-3" type="checkbox" name="delete" data-original-title=""
                                                           title="">
                                                    <label for="inline-3">حذف فرم ها</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label text-lg-left" for="singlebutton"></label>
                                        <div class="col-lg-12">
                                            <button type="submit" id="singlebutton" name="singlebutton"
                                                    class="btn btn-info">
                                                ساخت گروه
                                            </button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>لیست گروه ها</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display" id="checkOutTable">
                            <thead>
                            <tr>
                                <th>آی دی</th>
                                <th>نام گروه</th>
                                <th>سطح دسترسی</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>{{ group.id }}</td>
                                    <td>{{ group.name }}</td>
                                    <td>{{ group.permission }}</td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



                    </div>


                </div>
            </div>
        </div>

    </div>


    <div class="row">



    </div>
{% endblock %}
{% block script %}
    <script>
        $('#checkOutTable').DataTable();
    </script>
{% endblock %}