{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}تعریف کاربر جدید{% endblock %}
{% block breadcrumb %}تعریف کاربر جدید{% endblock %}
{% block page_name %}تعریف کاربر جدید{% endblock %}
{% block page_icon %}credit-card{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-sm-12">
            <div class="card">

                {% include 'includes/msg.html' %}

                <div class="card-header">
                    <h5>تعریف کاربر جدید</h5>
                </div>
                <div class="card-body">
                    <h6 class="m-t-10">تعریف کاربر جدید</h6>
                    <hr>
                    <div class="row">
                        <div class=" col-sm-12 col-md-6">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label text-lg-right"
                                               for="textinput">شماره موبایل کاربر</label>
                                        <div class="col-lg-12">
                                            <input id="textinput" name="userPhoneNumber" type="text"
                                                   class="form-control btn-square input-md">
                                            <p class="help-block">مثال: 09382138446</p>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="col-lg-12 control-label text-lg-right"
                                               for="textinput">گروه کاربری</label>
                                        <div class="col-lg-12 col-md-12">
                                            <select style="width: 50%" name="group">
                                                <option>انتخاب کنید</option>
                                                {% for group in groups %}
                                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>


                                    </div>


                                    <div>
                                        <label class="col-lg-12 control-label text-lg-right"
                                               for="textinput">فرم مورد نظر</label>
                                        <div class="col-lg-12 col-md-12">
                                            <select style="width: 50%" name="form">
                                                <option>انتخاب کنید</option>
                                                {% for form in forms %}
                                                    <option value="{{ form.id }}">{{ form.name }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>


                                    </div>


                                    <!-- Button -->
                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label text-lg-left" for="singlebutton"></label>
                                        <div class="col-lg-12">
                                            <button type="submit" id="singlebutton" name="singlebutton"
                                                    class="btn btn-info">
                                                تعریف کاربر
                                            </button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>لیست کاربر ها</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="display" id="checkOutTable">
                                            <thead>
                                            <tr>
                                                <th>گروه</th>
                                                <th>فرم</th>
                                                <th>نام و نام خانوادگی کاربر</th>
                                                <th>نام کاربری</th>
                                                <th>عملیات</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in formGroups %}
                                                <tr>
                                                    <td>{{ item.group.name }}</td>
                                                    <td>{{ item.form.name }}</td>
                                                    <td>{{ item.user.getFullName }}</td>
                                                    <td>{{ item.user.username }}</td>
                                                    <td>
                                                        <form action="{% url 'panel:userpanel_DeleteUserGroup' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="form" value="{{ item.form.id }}">
                                                            <input type="hidden" name="group" value="{{ item.group.id }}">
                                                            <input type="hidden" name="user" value="{{ item.user.id }}">
                                                            <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                                                        </form>

                                                    </td>


                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>

    </div>


    <div class="row">


    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('.select-2-select').select2();
        });
        $('#checkOutTable').DataTable();
    </script>
{% endblock %}