{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}احراز هویت تصویری{% endblock %}
{% block breadcrumb %}احراز هویت تصویری{% endblock %}
{% block page_name %}احراز هویت تصویری{% endblock %}
{% block page_icon %}image{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>لیست تصاویر</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">نام فرم</th>
                                        <th class="text-center">تاریخ ثبت</th>
                                        <th class="text-center">تاریخ آخرین تغییر</th>
                                        <th class="text-center">وضعیت</th>
                                        <th class="text-center">جزئیات</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for item in arr %}
                                        <tr>
                                            <td class="text-center">{{ item.imageid }}</td>
                                            <td class="text-center">{{ item.formname }}</td>
                                            <td class="text-center">{{ item.created_date }}</td>
                                            <td class="text-center">{{ item.change_date }}</td>
                                            <td class="text-center">
                                                {% if item.statuscode == 1 %}
                                                    <label class="label label-success p-2">
                                                        تایید شده
                                                    </label>
                                                {% elif item.statuscode == 0 %}
                                                    <label class="label label-danger p-2">
                                                        رد شده
                                                    </label>
                                                {% else %}
                                                    <label class="label label-warning p-2">
                                                        نامشخص
                                                    </label>
                                                {% endif %}

                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-primary btn-sm"
                                                        data-toggle="modal" data-target="#modal_{{ item.imageid }}"><i
                                                        class="fa fa-eye"></i>
                                                </button>
                                                {% if item.statuscode == 0 %}
                                                    <button class="btn btn-danger btn-sm"
                                                            data-toggle="modal"
                                                            data-target="#reason_{{ item.imageid }}">
                                                        علت رد شدن
                                                    </button>


                                                    <div class="modal fade" id="reason_{{ item.imageid }}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="myLargeModalLabel" style="display: none;"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-md">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4>علل رد شدن:</h4>
                                                                    <button class="close" type="button"
                                                                            data-dismiss="modal"
                                                                            aria-label="بستن" data-original-title=""
                                                                            title=""><span
                                                                            aria-hidden="true">×</span></button>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <div class="col-sm-12 col-lg-12">
                                                                        <ul>
                                                                            {% if item.reasonlist %}
                                                                                {% for reason in item.reasonlist %}
                                                                                    <li>{{ reason }}</li>
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <p>موردی ثبت نشده است</p>
                                                                            {% endif %}

                                                                        </ul>
                                                                        <hr/>
                                                                        <p>توضیحات بیشتر:</p>
                                                                        {% if item.description %}
                                                                            <p>{{ item.description }}</p>
                                                                        {% else %}
                                                                            <p>موردی ثبت نشده است</p>
                                                                        {% endif %}
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>






                                                {% endif %}

                                            </td>
                                        </tr>


                                        <div class="modal fade" id="modal_{{ item.imageid }}" tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="myLargeModalLabel" style="display: none;"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button class="close" type="button" data-dismiss="modal"
                                                                aria-label="بستن" data-original-title="" title=""><span
                                                                aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12">
                                                                <p style="border-radius: 1px;border-style: dashed;border-width: 3px;border-color: #007bff;"
                                                                   class="text-center p-2">تصویر احراز هویت</p>
                                                                <img src="/{{ item.image }}"
                                                                     style="width: 350px;height: 350px; margin: auto;display: block;"
                                                                     alt="تصویر"/>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <p style="border-radius: 1px;border-style: dashed;border-width: 3px;border-color: #007bff;"
                                                                   class="text-center p-2">تصویر کارت ملی</p>
                                                                <img src="/{{ item.nationalImage }}"
                                                                     style="width: 350px;height: 350px; margin: auto;display: block;"
                                                                     alt="تصویر"/>

                                                            </div>

                                                            <div class="col-md-12 col-sm-12">
                                                                <div class="alert alert-info m-t-25 dark" role="alert">
                                                                    <p class="text-center"
                                                                       style="font-size: 30px;">{{ item.code }}</p>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <form method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="changetype" value="1">
                                                                <input type="hidden" name="imageid"
                                                                       value="{{ item.imageid }}">
                                                                <button type="submit" class="btn btn-success">تایید
                                                                    هویت
                                                                </button>
                                                            </form>
                                                            <button type="button" data-imageid="{{ item.imageid }}"
                                                                    class="btn btn-danger m-r-20 reject_button"> رد
                                                                هویت
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_checkbox" tabindex="-1"
             role="dialog"
             aria-labelledby="myLargeModalLabel" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>علت رد شدن را مشخص کنید</h4>
                        <button class="close" type="button" data-dismiss="modal"
                                aria-label="بستن" data-original-title="" title=""><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="checkbox" name="reason"
                                               value="تصویر فرد یا تصویر مدرک شناسایی منطبق نیست"/>
                                        <label>تصویر فرد یا تصویر مدرک شناسایی منطبق نیست</label>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="checkbox" name="reason"
                                               value="تصویر فرد شفاف، گویا و دارای استاندارد تعیین شده نیست"/>
                                        <label>تصویر فرد شفاف، گویا و دارای استاندارد تعیین شده نیست</label>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="checkbox" name="reason"
                                               value="مدرک شناسایی دارای کیفیت مناسب جهت بررسی نیست"/>
                                        <label>مدرک شناسایی دارای کیفیت مناسب جهت بررسی نیست</label>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="checkbox" name="reason"
                                               value="کد رمز 4 رقمی با کد قید شده در تصویر منطبق نیست"/>
                                        <label>کد رمز 4 رقمی با کد قید شده در تصویر منطبق نیست</label>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="checkbox" name="reason" value="کد رمز در تصویر سلفی نیامده است"/>
                                        <label>کد رمز در تصویر سلفی نیامده است</label>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="description"
                                                  placeholder="توضیحات بیشتر بنویسید ..."
                                                  id="exampleFormControlTextarea25"
                                                  rows="3"></textarea>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="modal-footer">

                            {% csrf_token %}
                            <input type="hidden" name="changetype" value="0">
                            <input type="hidden" name="imageid" id="imageid">
                            <button type="submit"
                                    class="btn btn-danger m-r-20"> رد
                                هویت
                            </button>


                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
        $(".reject_button").on("click", function () {
            $('.modal').modal('hide');
            $("#modal_checkbox").modal()
            $("#imageid").val($(this).attr("data-imageid"))
        })


    </script>
{% endblock %}
