{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}افزایش اعتبار{% endblock %}
{% block breadcrumb %}افزایش اعتبار{% endblock %}
{% block page_name %}افزایش اعتبار{% endblock %}
{% block page_icon %}credit-card{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>افزایش اعتبار</h5>
                </div>
                <div class="card-body">
                    <h6 class="m-t-10">افزایش اعتبار</h6>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label text-lg-right"
                                               for="textinput">مبلغ به ریال</label>
                                        <div class="col-lg-12">
                                            <input id="textinput" name="price" type="text"
                                                   class="form-control btn-square input-md">
                                            <p class="help-block">مثال: 40000</p>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label text-lg-left" for="singlebutton"></label>
                                        <div class="col-lg-12">
                                            <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-info">
                                                پرداخت
                                            </button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="alert alert-light" role="alert">
                                <h4 class="alert-heading">چرا افزایش اعتبار؟
                                </h4>
                                <p>
                                    با افزایش اعتبار کیف پول خود به میزان مشخص میتوانید از سرویس های ما استفاده کنید.
                                </p>

                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>لیست اپلیکیشن ها</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display" id="checkOutTable">
                            <thead>
                            <tr>
                                <th>آی دی</th>
                                <th>نام اپلیکیشن</th>
                                <th>نوع اپلیکیشن</th>
                                <th>کلید</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for application in applications %}
                            <tr>
                                <td>{{ application.id }}</td>
                                <td>{{ application.name }}</td>
                                <td>{{ application.getApplicationType }}</td>




                                <td>
                                    {{ application.secret_key }}
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
        $('#checkOutTable').DataTable();
    </script>
{% endblock %}