{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}داشبورد{% endblock %}
{% block breadcrumb %}داشبورد{% endblock %}
{% block page_name %}داشبورد{% endblock %}
{% block page_icon %}box{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="media feather-main">
                        <div class="feather-icon-block"><i data-feather="credit-card"></i></div>
                        <div class="media-body align-self-center">
                            <h6>تعداد کاربران </h6>
                            <p>{{ formGroupsCount }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="media feather-main">
                        <div class="feather-icon-block"><i data-feather="file-text"></i></div>
                        <div class="media-body align-self-center">
                            <h6>تعداد فرم ها</h6>
                            <p>{{ forms }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="media feather-main">
                        <div class="feather-icon-block"><i data-feather="mail"></i></div>
                        <div class="media-body align-self-center">
                            <h6>تعداد فرم های تکمیل شده</h6>
                            <p>4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="media feather-main">
                        <div class="feather-icon-block"><i data-feather="image"></i></div>
                        <div class="media-body align-self-center">
                            <h6>تعداد تقاضاهای تصدیق هویت</h6>
                            <p>{{ auth_request }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">

    </div>
{% endblock %}
{% block script %}
    <script>
        localStorage.setItem("token", "{{ token }}")
    </script>
{% endblock %}