{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}فرم ها{% endblock %}
{% block breadcrumb %}فرم ها{% endblock %}
{% block page_name %}فرم ها{% endblock %}
{% block page_icon %}file-text{% endblock %}
{% block content %}

    <div class="row">
        
        <div class="col-sm-12">
            <div class="card">

                {% include 'includes/msg.html' %}
            </div>
        </div>
       
        {% for form in userforms %}
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-header text-center">
                        {{ form.name }}
                    </div>

                    <div class="card-body">
                        {{ form.description }}
                    </div>

                    <div class="card-footer">
                        {% if not form.getToken %}
                            <button style="display:block; margin:auto;width:50%" data-toggle="modal"
                                    data-target="#gen_{{ form.id }}"
                                    class="btn btn-info justify-content-center align-content-center">ساخت توکن
                            </button>
                            <div class="modal fade" id="gen_{{ form.id }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myLargeModalLabel" style="display: none;"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>ساخت توکن برای {{ form.name }}</h4>
                                            <button class="close" type="button"
                                                    data-dismiss="modal"
                                                    aria-label="بستن" data-original-title=""
                                                    title=""><span
                                                    aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                {% csrf_token %}
                                                <label>آدرس های منتخب:</label>
                                                <input type="hidden" name="formid" value="{{ form.id }}"/>
                                                <input type="text" name="submitUrl" class="form-control"
                                                       placeholder="127.0.0.1,https://melrio.com">
                                                <strong>درخواست ها از دامنه یا IP های ثبت شده قابل انجام است.</strong>
                                                <button class="btn btn-info">ساخت توکن</button>
                                            </form>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <input type="text" style="display: none" value="{{ form.getToken }}"
                                   id="input_{{ form.id }}"/>
                            <div class="alert alert-primary" role="alert">
                                {{ form.getToken }}
                            </div>
                            <button class="btn btn-success" onclick="myFunction('input_{{ form.id }}')">کپی توکن
                            </button>



                        {% endif %}
                    <div class="row m-t-15">
                        <div class="col-6">
                            <a href="{% url 'panel:form_update' form.id %}" class="btn btn-warning">ویرایش فرم</a>
                        </div>

                        <div class="col-6">
                            <a href="{% url 'panel:userpanel_download_file' form.id %}" class="btn btn-info">دانلود فایل js</a>
                        </div>

                    </div>
                    <div class="row m-t-10">
                        <div class="col-6">
                          <a href="{% url 'panel:userpanel_RecordsList' form.id %}" class="btn btn-primary justify-content-center align-content-center">مشاهده رکورد ها</a>
                        </div>

                        <div class="col-6">
                        </div>
                    </div>


                    </div>


                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block script %}
    <script>

        function myFunction(inputid) {
            var copyText = document.getElementById(inputid);

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            document.execCommand("copy");

        }

    </script>
{% endblock %}
