{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}رکورد ها{% endblock %}
{% block breadcrumb %}رکورد ها{% endblock %}
{% block page_name %}رکورد ها{% endblock %}
{% block page_icon %}file-text{% endblock %}
{% block content %}

    <div class="row">
    {% for form in userforms %}
    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header text-center">
                {{ form.name }}
            </div>

            <div class="card-body">
                {{ form.description }}
            </div>

            <div class="card-footer">
            </div>

        </div>
    </div>
    {% endfor %}

    </div>
{% endblock %}
{% block script %}
    <script>

        // Scripts Here

    </script>
{% endblock %}
