<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Modern data">
    <meta name="keywords" content="Modern data">
    <meta name="author" content="M.Mohamadi">
    <link rel="icon" href="{% static 'panel/assets/images/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'panel/assets/images/favicon.png' %}" type="image/x-icon">
    <title>ملریو - {% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/fontawesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/feather-icon.css' %}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/bootstrap.css' %}">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'panel/assets/css/light-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/responsive.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>


    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/select2.css' %}">


    <style>
        .leaflet-div-icon {
            background: transparent;
            border: none;
        }

        .leaflet-marker-icon .number {
            position: relative;
            top: -37px;
            font-size: 12px;
            width: 25px;
        }


    </style>
</head>
<body main-theme-layout="rtl">

<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="loader bg-white">
        <div class="whirly-loader"></div>
    </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper">
    <!-- Page Header Start-->
    <div class="page-main-header">
        <div class="main-header-right row">
            <div class="main-header-left d-lg-none">
                <div class="logo-wrapper"><a href="#"><img src="{% static 'panel/assets/images/logo/melrio_logo_white.png' %}" width="100%" height="60px;"
                                                           alt=""></a></div>
            </div>
            <div class="mobile-sidebar d-block">
                <div class="media-body text-right switch-sm">
                    <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
                </div>
            </div>
            <div class="nav-right col p-0">
                <ul class="nav-menus">


                    <li style="visibility: hidden">
                        <form class="form-inline search-form" action="#" method="get">
                            <div class="form-group">
                                <div class="Typeahead Typeahead--twitterUsers">
                                    <div class="u-posRelative">
                                        <input class="Typeahead-input form-control-plaintext" id="demo-input"
                                               type="text" name="q" placeholder="جستجو...">
                                        <div class="spinner-border Typeahead-spinner" role="status"><span
                                                class="sr-only">در حال بارگذاری...</span></div>
                                        <span class="d-sm-none mobile-search"><i data-feather="search"></i></span>
                                    </div>
                                    <div class="Typeahead-menu"></div>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li>
                        <div>
                        <span>

                        </span>
                            <div class="media-body text-right icon-state">
                                <i class="fa fa-moon-o text-info"></i>
                                <label class="switch">
                                    <input type="checkbox" id="nightMode" data-original-title="" title=""><span
                                        class="switch-state bg-info"></span>
                                </label>
                                <i class="fa fa-sun-o" style="color: #ef6c00"></i>
                            </div>
                        </div>


                    </li>

                    <li><a href="#"><i data-feather="credit-card"></i>
                        اعتبار:{{ request.user.profile.credit }} ریال
                    </a></li>


                    <li class="onhover-dropdown">
                        <div class="media align-items-center"><img
                                class="align-self-center pull-right img-50 rounded-circle"
                                src="http://www.gravatar.com/avatar/{{ request.user.email }} " alt="header-user">
                            <div class="dotted-animation"><span class="animate-circle"></span><span
                                    class="main-circle"></span></div>
                        </div>
                        <ul class="profile-dropdown onhover-show-div p-20">
                            <li><a href="#"><i data-feather="lock"></i> قفل صفحه</a></li>
                            <li><a href="{% url 'accounts:userpanel_LogOut' %}"><i data-feather="log-out"></i> خروج</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
            </div>
            <script id="result-template" type="text/x-handlebars-template">
                <div class="ProfileCard u-cf">
                    <div class="ProfileCard-avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-airplay m-0">
                            <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
                            <polygon points="12 15 17 21 7 21 12 15"></polygon>
                        </svg>
                    </div>
                    <div class="ProfileCard-details">
                        <div class="ProfileCard-realName">{{ name }}</div>
                    </div>
                </div>
            </script>
            <script id="empty-template" type="text/x-handlebars-template">
                <div class="EmptyMessage">جستجوی شما 0 نتیجه را به دست آورد. این احتمالا به این معنی است که باطن پایین
                    است، وای!
                </div>

            </script>
        </div>
    </div>
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="page-sidebar">
            <div class="main-header-left d-none d-lg-block">
                <div class="logo-wrapper"><a href="index.html"><img
                        src="{% static 'panel/assets/images/logo/melrio_logo_white.png' %}" width="100%" height="60px" alt=""></a>

                </div>

            </div>
            <div class="sidebar custom-scrollbar">
                <div class="sidebar-user text-center">
                    <div><img class="img-60 rounded-circle"
                              src="http://www.gravatar.com/avatar/{{ request.user.email }}" alt="#">
                    </div>
                    <h6 class="mt-3 f-14">{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                    {% if request.user.is_superuser %}
                        <span class="m-l-5 badge badge-warning ">مدیریت</span>
                    {% else %}
                        <span class="m-l-5 badge badge-success ">کاربر</span>
                    {% endif %}
                </div>
                <ul class="sidebar-menu">
                    <li><a class="sidebar-header" href="{% url 'panel:userpanel_dashboard' %}"><i
                            data-feather="home"></i><span>داشبورد</span></a></li>


                    <li><a class="sidebar-header" href="#" data-original-title="" title="">
                        <i data-feather="file-text"></i> <span>فرم</span><i
                            class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu menu-open">
                            <li><a href="{% url 'panel:FormGenerator' %}" data-original-title="" title=""><i
                                    class="fa fa-circle"></i>
                                ساخت فرم جدید</a></li>
                            <li><a href="{% url 'panel:userpanel_Forms' %}" data-original-title="" title=""><i class="fa fa-circle"></i>
                                لیست فرم ها</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-header" href="#" data-original-title="" title="">
                        <i data-feather="user"></i> <span>کاربران</span><i class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu menu-open">
                            <li><a href="{% url 'panel:userpanel_AddUser' %}" data-original-title="" title=""><i class="fa fa-circle"></i>
                                تعریف دسترسی کاربران</a></li>

                        </ul>
                    </li>

                    <li><a class="sidebar-header" href="#" data-original-title="" title="">
                        <i data-feather="users"></i> <span>گروه ها</span><i
                            class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu menu-open">
                            <li><a href="{% url 'panel:userpanel_AddGroup' %}" data-original-title="" title=""><i class="fa fa-circle"></i>
                                ساخت گروه کاربران</a></li>

                        </ul>
                    </li>

                    <li><a class="sidebar-header" href="#" data-original-title="" title="">
                        <i data-feather="dollar-sign"></i> <span>مالی</span><i class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu menu-open">
                            <li><a href="#" data-original-title="" title=""><i class="fa fa-circle"></i>
                                خرید و تغییر اشتراک</a></li>
                            <li><a href="#" data-original-title="" title=""><i class="fa fa-circle"></i>
                                لیست تراکنش ها</a></li>
                        </ul>
                    </li>



                    <li><a class="sidebar-header" href="{% url 'panel:userpanel_AuthForms' %}"><i
                            data-feather="image"></i><span>احراز هویت تصویری</span></a></li>

                    <li><a class="sidebar-header" href="{% url 'panel:userpanel_solveRouting' %}"><i
                            data-feather="map"></i><span>بهینه سازی مسیریابی</span></a></li>


                </ul>
            </div>
        </div>

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>{% block page_name %}{% endblock %}</h3>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                            data-feather="{% block page_icon %}{% endblock %}"></i></a></li>
                                    <li class="breadcrumb-item active">{% block breadcrumb %}{% endblock %}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                {% block content %}{% endblock %}


            </div>
            <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">کپی رایت 2018 © ملریو همه حقوق محفوظ است.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right mb-0">ساخته شده با<i class="fa fa-heart"></i> توسط <a
                                href="http://m-mohamadi.ir">M.Mohamadi</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- latest jquery-->
<script src="{% static 'panel/assets/js/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap js-->
<script src="{% static 'panel/assets/js/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'panel/assets/js/bootstrap/bootstrap.js' %}"></script>
<!-- feather icon js-->
<script src="{% static 'panel/assets/js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'panel/assets/js/icons/feather-icon/feather-icon.js' %}"></script>
<!-- Sidebar jquery-->
<script src="{% static 'panel/assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'panel/assets/js/config.js' %}"></script>

<!-- Plugins JS start-->
{#    <script src="{% static 'panel/assets/js/typeahead/handlebars.js' %}"></script>#}
{#    <script src="{% static 'panel/assets/js/typeahead/typeahead.bundle.js' %}"></script>#}
{#    <script src="{% static 'panel/assets/js/typeahead/typeahead.custom.js' %}"></script>#}
<script src="{% static 'panel/assets/js/chat-menu.js' %}"></script>
<script src="{% static 'panel/assets/js/axios.min.js' %}"></script>
<script src="{% static 'panel/assets/js/tooltip-init.js' %}"></script>
<script src="{% static 'panel/assets/js/typeahead-search/handlebars.js' %}"></script>
<script src="{% static 'panel/assets/js/typeahead-search/typeahead-custom.js' %}"></script>
<script src="{% static 'panel/assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>

<script src="{% static 'panel/assets/js/script.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'panel/assets/js/select2/select2.full.min.js' %}">



{% block script %} {% endblock %}
<script>

    if (localStorage.getItem("color")) {
        $("#color").attr("href", "../assets/css/" + localStorage.getItem("color") + ".css");
        $("#nightMode").removeAttr("checked")
    }

    if (localStorage.getItem("dark")) {
        $("body").attr("class", "dark-only");
        $("#nightMode").attr("checked", "")
    }


    $('#nightMode').on('change.bootstrapSwitch', function (e) {
        if (e.target.checked) {
            $("body").attr("class", "dark-only");
            localStorage.setItem("dark", "dark-only");
            localStorage.setItem("color", "dark-6");
            localStorage.setItem("primary", "#3949ab");
            localStorage.setItem("secondary", "#4fc3f7");

        } else {
            $("body").removeAttr("class", "dark-only");
            localStorage.removeItem("dark");
            localStorage.setItem("color", "light-6");
            localStorage.setItem("primary", "#3949ab");
            localStorage.setItem("secondary", "#4fc3f7");
        }
        localStorage.setItem("checked", e.target.checked);

    });

</script>
</body>

</html>