{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}رکورد ها{% endblock %}
{% block breadcrumb %}رکورد ها{% endblock %}
{% block page_name %}رکورد ها{% endblock %}
{% block page_icon %}list{% endblock %}
{% block content %}
    <div class="row">
        <div class="card col-md-12 cl-xs-12">
            <div class="card-header">
                <h3>لیست رکورد ها</h3>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-sm-12 col-lg-12">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="table">
                                <thead>

                                </thead>
                                <tbody>


                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>

            </div>


        </div>

    </div>


{% endblock %}
{% block script %}
    <script>
        var headers = JSON.parse('{{ str_head | safe }}');
        var data = JSON.parse('{{ str_data | safe }}');

        var table = document.getElementById("table")
        var row = table.insertRow(0);
        for (var i = 0; i < headers.length; i++) {
            var cell = row.insertCell(i);
            cell.innerHTML = headers[i]["fieldName"]
        }



        for (var j = 0; j < data.length; j++) {
            var row_data = table.insertRow(j + 1);

            for (var m = 0; m < headers.length; m++) {
                var cell_data = row_data.insertCell(m);
                cell_data.innerHTML = "-"
            }
            for(var k = 0 ; k < data[j].length;k++){
                var index = getIndex(data[j][k]["fieldId"])
                childs = row_data.childNodes
                childs[index].innerHTML = data[j][k]["value"]
            }
        }




        function getIndex(fiedlid) {
            for (var i = 0; i < headers.length; i++) {
                if (fiedlid === headers[i]["fieldId"]) {
                    return i
                }
            }
            return 0
        }


        // Scripts Here

    </script>
{% endblock %}