{% extends 'userpanel/parent.html' %}
{% load static %}
{% block title %}بهینه سازی مسیریابی{% endblock %}
{% block breadcrumb %}بهینه سازی مسیریابی{% endblock %}
{% block page_name %}بهینه سازی مسیریابی{% endblock %}
{% block page_icon %}map{% endblock %}
{% block content %}
    <div class="row">
        <div class="card col-md-12 cl-xs-12">
            <div class="card-header">
                <h3>اطلاعات پایه</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <select id="region_name">
                            <option value="r1">منطقه 1</option>
                            <option value="r2">منطقه 2</option>
                            <option value="r3">منطقه 3</option>
                            <option value="r4">منطقه 4</option>
                            <option value="r5">منطقه 5</option>
                            <option value="r6">منطقه 6</option>
                            <option value="r7" selected>منطقه 7</option>
                            <option value="r8">منطقه 8</option>
                            <option value="r9">منطقه 9</option>
                            <option value="r10">منطقه 10</option>
                            <option value="r11">منطقه 11</option>
                            <option value="r12">منطقه 12</option>
                            <option value="r13">منطقه 13</option>
                            <option value="r14">منطقه 14</option>
                            <option value="r15">منطقه 15</option>
                            <option value="r16">منطقه 16</option>
                            <option value="r17">منطقه 17</option>
                            <option value="r18">منطقه 18</option>
                            <option value="r19">منطقه 19</option>
                            <option value="r20">منطقه 20</option>
                            <option value="r21">منطقه 21</option>
                            <option value="r22">منطقه 22</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <input class="form-control" value="auto" name="costing_value" id="costing_value" type="text"
                               placeholder="مدل هزینه گراف" data-original-title="" title="">
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <input class="form-control" name="vehicles_num" value="5" id="vehicles_num" type="number"
                               placeholder="تعداد خودرو" data-original-title="" title="">
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <input class="form-control" name="maximum_distance" value="50000" id="maximum_distance"
                               type="number"
                               placeholder="حداکثر مسافت پیمایشی هر وسیله" data-original-title="" title="">
                    </div>
                    <div class="col-sm-6 col-md-3 m-t-20">
                        <input class="form-control" name="radius_value" value="200" id="radius_value" type="number"
                               placeholder="شعاع تطبق" data-original-title="" title="">
                    </div>
                    <div class="col-sm-6 col-md-3 m-t-20">
                        <input class="form-control" name="limit" value="49" id="limit" type="number"
                               placeholder="تعداد نقاط رندوم" data-original-title="" title="">
                    </div>
                    <div class="col-sm-6 col-md-3 m-t-20">
                        <input class="form-control" name="dispatch_point" value="35.705452,51.400218"
                               id="dispatch_point" type="text"
                               placeholder="نقطه شروع ارسال" data-original-title="" title="">
                    </div>
                    <div class="col-sm-6 col-md-3 m-t-20">
                        <button class="btn btn-success btn-md" onclick="sendVSRRequest()">ارسال اطلاعات</button>
                    </div>


                </div>


            </div>


        </div>

    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>نقشه</h5>
                </div>
                <div class="card-body">
                    <div class="map-js-height" id="map1"
                         style="position: relative; width: 100%; height: 500px;z-index:1; overflow: hidden;">
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block script %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="{% static 'panel/assets/js/awsome-marker.js' %}"></script>

    <script>


        Colors = {};
        Colors.names = {
            aqua: "#00ffff",
            azure: "#f0ffff",
            beige: "#f5f5dc",
            black: "#000000",
            blue: "#0000ff",
            brown: "#a52a2a",
            cyan: "#00ffff",
            darkblue: "#00008b",
            darkcyan: "#008b8b",
            darkgrey: "#a9a9a9",
            darkgreen: "#006400",
            darkkhaki: "#bdb76b",
            darkmagenta: "#8b008b",
            darkolivegreen: "#556b2f",
            darkorange: "#ff8c00",
            darkorchid: "#9932cc",
            darkred: "#8b0000",
            darksalmon: "#e9967a",
            darkviolet: "#9400d3",
            fuchsia: "#ff00ff",
            gold: "#ffd700",
            green: "#008000",
            indigo: "#4b0082",
            khaki: "#f0e68c",
            lightblue: "#add8e6",
            lightcyan: "#e0ffff",
            lightgreen: "#90ee90",
            lightgrey: "#d3d3d3",
            lightpink: "#ffb6c1",
            lightyellow: "#ffffe0",
            lime: "#00ff00",
            magenta: "#ff00ff",
            maroon: "#800000",
            navy: "#000080",
            olive: "#808000",
            orange: "#ffa500",
            pink: "#ffc0cb",
            purple: "#800080",
            violet: "#800080",
            red: "#ff0000",
            silver: "#c0c0c0",
            white: "#ffffff",
            yellow: "#ffff00"
        };

        Colors.random = function () {
            var result;
            var count = 0;
            for (var prop in this.names)
                if (Math.random() < 1 / ++count)
                    result = prop;
            return result;
        };


        var map = L.map('map1').setView([35.705452, 51.400218], 13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'sk.eyJ1Ijoia2FzaGlhbiIsImEiOiJja2I1NmlrZ2QwYnoxMnlvMmd3NnhuY3QzIn0.bU6NPfIKO7REZUnQcvbA4A'
        }).addTo(map);
        $("#map1").height($(window).height())
        map.invalidateSize();


        function sendVSRRequest() {
            console.log("ok")


            var xhr = new XMLHttpRequest();
            var region_name = $("#region_name").val()
            var costing_value = $("#costing_value").val()
            var vehicles_num = $("#vehicles_num").val()
            var maximum_distance = $("#maximum_distance").val()
            var radius_value = $("#radius_value").val()
            var limit = $("#limit").val()
            var dispatch_point = $("#dispatch_point").val()
            xhr.open("GET", "http://melrio.com/api/v1/vrtools?region_name=" + region_name + "&costing_value=" + costing_value + "&vehicles_num=" + vehicles_num + "&maximum_distance=" + maximum_distance + "&radius_value=" + radius_value + "&limit=" + limit + "&dispatch_point=" + dispatch_point + "", true);
            xhr.onload = function () {
                var json = JSON.parse(xhr.response);
                var keys = Object.keys(json);


                for (var j = 0; j < keys.length; j++) {
                    var vehicles = keys[j]
                    var waypoint_str = ""
                    var latlngs = Array();
                    if (json[vehicles].length <= 1) {
                        latlngs.push([json[vehicles][0]["lon"], json[vehicles][0]["lat"]])
                        draw_lines(latlngs, json[vehicles][0]["lon"] + "," + json[vehicles][0]["lat"], "", false)
                    } else {
                        for (var k = 0; k < json[vehicles].length; k++) {

                            if (k !== json[vehicles].length - 1) {
                                waypoint_str += json[vehicles][k]["lon"] + "," + json[vehicles][k]["lat"] + ";"
                            } else {
                                console.log("No")
                                waypoint_str += json[vehicles][k]["lon"] + "," + json[vehicles][k]["lat"]
                            }
                            latlngs.push([json[vehicles][k]["lon"], json[vehicles][k]["lat"]])
                            draw_lines(latlngs, json[vehicles][0]["lon"] + "," + json[vehicles][0]["lat"], waypoint_str, true)
                        }
                    }
                    console.log(waypoint_str)


                }

            };

            xhr.send()


        }

        function draw_lines(latlngs, start, waypoint_str, sendRequest) {
            var color = Colors.random()
            waypoint_str = waypoint_str.replace(";?", "?")
            if (sendRequest === true) {
                var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + waypoint_str +
                    '?steps=true&geometries=geojson&access_token=sk.eyJ1Ijoia2FzaGlhbiIsImEiOiJja2I1NmlrZ2QwYnoxMnlvMmd3NnhuY3QzIn0.bU6NPfIKO7REZUnQcvbA4A';

                var req = new XMLHttpRequest();
                req.open('GET', url, true);
                req.onload = function () {
                    var json = JSON.parse(req.response);
                    var data = json.routes[0];
                    var route = data.geometry.coordinates;
                    var geometry = {
                        type: 'LineString',
                        coordinates: route
                    }


                    L.geoJson(geometry).addTo(map)
                    var polyline = L.polyline(lngLatArrayToLatLng(route), {
                        opacity: 1,
                        color: color
                    }).addTo(map);
                    map.fitBounds(polyline.getBounds());


                };
                req.send();
            }


            for (var m = 0; m < latlngs.length; m++) {
                var svg = '<svg height="40" width="40"><circle cx="5" cy="5" r="4" fill="' + color + '" /></svg> <p>' + m + 1 + '</p>';
                var icon = L.divIcon({html: svg, iconSize: [10, 10], iconAnchor: [10, 10]});

                L.marker([latlngs[m][1], latlngs[m][0]], {
                    icon: new L.NumberedDivIcon({number: m+1})}).addTo(map);


            }


        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function lngLatArrayToLatLng(lngLatArray) {
            return lngLatArray.map(lngLatToLatLng);
        }

        function lngLatToLatLng(lngLat) {
            return [lngLat[1], lngLat[0]];
        }


    </script>



{% endblock %}