{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger dark alert-dismissible fade show"
                 role="alert"><strong>خطا ! </strong> {{ message }}
                <button class="close" type="button" data-dismiss="alert"
                        aria-label="Close" data-original-title="" title=""><span
                        aria-hidden="true">×</span></button>
            </div>
        {% else %}
            <div class="alert alert-success dark alert-dismissible fade show"
                 role="alert">{{ message }}
                <button class="close" type="button" data-dismiss="alert"
                        aria-label="Close" data-original-title="" title=""><span
                        aria-hidden="true">×</span></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}