@font-face {
    font-family: IRANSans;
    src: url(IRANSans.ttf);
}

.container label {
    font-size: 12px;
    color: whitesmoke;
}

.container small {
    color: darkgray;
}

h5.settings-title {
    color: #8A99B5;
    margin-top: 25px;
}

.settings-title > i {
    margin-left: 10px;
}

.settings-body {
    padding: 8px 15px;
}

.styles span {
    color: white;
    margin-left: 10px;
}

.styles > div:not(:last-child) {
    margin-bottom: 20px;
}

.styles select {
    background: rgb(39, 46, 72);
    color: #bdd1f8;
    padding: 2px 13px;
    border-radius: 3px;
    border-color: gray;
    font-size: 12px;
}

.comment {
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
    font-size: 12px;
    color: lightgray;
}

.row > * {
    direction: rtl;
    width: 100%;
}

.header {
    direction: rtl;
}

@media only screen and (max-width: 768px) {
    .container > .row > div:first-child {
        height: auto !important;
    }
}

div.field {
    margin: 5px -10px;
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    padding: 8px 10px 2px;
    background: #272e48;
}

.field-settings-btn {
    float: left;
    margin-top: 1px;
    text-decoration: none !important;
}

.field-settings-btn i {
    margin-left: 5px;
    vertical-align: middle;
}

div.field-settings {
    width: 100%;
    padding: 0px 5px;
    border-top: 1px solid dimgray;
}

div.field-settings > div {
    width: 100%;
}

.field-required {
    display: block;
    border-bottom: 1px solid #1a233a;
    margin: 5px 0;
    padding-bottom: 7px;
}

.field-required:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.field-required > label {
    width: 100%;
}

.custom-switch .custom-control-label::before {
    margin-top: -2px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #5a8dee;
    background-color: #5a8dee;
}

.custom-switch .custom-control-label::after {
    margin-top: -2px;
    transform: translateX(.75rem);
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.field-min input, .field-max input {
    width: 60px;
    float: left;
    font-size: 12px;
    padding: 0 3px;
    background: #1a233a;
    color: white;
    border: 1px solid dimgray;
    border-radius: 3px;
}

.optionalFields > .title {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(119, 136, 153, 0.4);
    margin: 8px 0;
    color: #cccccc;
    font-size: 14px;
}

.optionalFields > .title > i {
    font-size: 10px;
    margin-left: 3px;
}

#iframe-wrapper.fixed {
    position: fixed;
    left: 0;
}

.field > input[type='checkbox'] {
    opacity: 0;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    vertical-align: sub;
    cursor: pointer;
}

.field > input ~ i {
    position: absolute;
    right: 18px;
    top: 16px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s;
}

.field > input:checked ~ i.checked {
    opacity: 1 !important;
}

.field > input:not(:checked) ~ i.not-checked {
    opacity: 1 !important;
}

.field > label {
    cursor: pointer;
}

.descriptionLabel {
    /* font-weight: 300; */
    color: #c7c7c7;
    text-align: left !important;
    direction: left !important;
    float: left !important; 
    padding-left: 5px;
}

.deleteButton {
   font-size: small !important;
    max-width: 100px;
    /* position: absolute;  */
    float: left !important; 

    left: 10px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.mfl-input {
    display: block;
    width: 100%;
    height: 32px;
    padding: 5px 10 5px 22px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 20px;
    color: white;
    background-color: rgba(31, 31, 31, 0.1);
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


select option {
    margin: 40px;
    background:  #1a233a !important;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4) !important;
    font-size: inherit;
    font-weight: 400;
    line-height: 20px;
}



.mfl-input:focus {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.12);
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0,123,255,.25);
}

.mfl-input[type='checkbox']:focus {
    box-shadow: none;
}

select.mfl-input[multiple] {
    height: auto;
    overflow: hidden;
    background-color: #41475e;
}

.mfl-input::placeholder {
    font-weight: 300;
    color: #c7c7c7;
    text-align: right !important;
    direction: rtl !important;
}

.mfl-input.error, .mfl-radios-field.error, .mfl-checkboxes-field.error, input.error ~ .mfl-image {
    border-color: #ff5b5c !important;
}

.mfl-input.mfl-input-prepend {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    width: 60%;
}

.mfl-input[disabled] {
    background-color: gray;
}


textarea.mfl-input {
    height: 90px;
    resize: none;
    padding-top: 2px;
    padding-bottom: 2px;
}