@font-face {
font-family: "iran";
src: url('../fonts/iran.ttf') format('truetype');
}

.calendar-wrap .fc-bg,
.calendar-wrap .fc-bgevent-skeleton,
.calendar-wrap .fc-helper-skeleton,
.calendar-wrap .fc-highlight-skeleton,
.calendar-wrap .fc-row.fc-rigid .fc-content-skeleton {
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0
}

.calendar-wrap .fc th,
.calendar-wrap .fc td {
	border: 1px solid;
	vertical-align: top
}

.calendar-wrap .fc-row .fc-content-skeleton td,
.calendar-wrap .fc-row .fc-helper-skeleton td {
	border-color: rgba(0, 0, 0, 0)
}

.calendar-wrap .fc-scroller {
	margin-right: -17px
}

.calendar-wrap .fc-events-container {
	margin-top: 55px
}

.calendar-wrap .checkbox label {
	margin-top: 20px;
	margin-bottom: 0
}

.calendar-wrap .basic-calendar .external-events .fc-event {
	cursor: pointer
}

.calendar-wrap .basic-calendar .external-events .fc-event + .fc-event {
	margin-top: 20px
}

.calendar-wrap .fc {
	direction: ltr;
	text-align: left
}

.calendar-wrap .fc button {
	margin: 0 5px !important;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem
}

.calendar-wrap .fc button .fc-icon {
	position: relative;
	top: .05em;
	margin: 0 .1em;
	display: inline-block;
	font-size: 2em;
	line-height: .5em;
	height: .5em
}

.calendar-wrap .fc button::-moz-focus-inner {
	margin: 0;
	padding: 0
}

.calendar-wrap .fc table {
	width: 100%;
	table-layout: fixed
}

.calendar-wrap .fc th {
	text-align: center
}

.calendar-wrap .fc .fc-axis {
	vertical-align: middle;
	padding: 0 15px;
	white-space: nowrap
}

.calendar-wrap .fc .fc-toolbar > * > * {
	float: left;
	margin-left: .75em
}

.calendar-wrap .fc .fc-toolbar > * > :first-child {
	margin-bottom: 0;
	margin-left: 0;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "iran", work-Sans, sans-serif
}

.calendar-wrap .fc-rtl {
	text-align: right
}

.calendar-wrap .fc-rtl .fc-day-grid-event .fc-resizer {
	left: -3px;
	cursor: w-resize
}

.calendar-wrap .fc-rtl .fc-popover .fc-header .fc-close {
	float: left
}

.calendar-wrap .fc-rtl .fc-popover .fc-header .fc-title {
	float: right
}

.calendar-wrap .fc-rtl .fc-basic-view .fc-day-number {
	text-align: left
}

.calendar-wrap .fc-rtl .fc-time-grid .fc-event-container {
	margin: 0 2px 0 2.5%
}

.calendar-wrap .fc-unthemed .fc-popover {
	border-color: #f6f7fb;
	background-color: #fff;
	border-width: 1px;
	border-style: solid
}

.calendar-wrap .fc-unthemed .fc-popover .fc-header {
	background: #f6f7fb
}

.calendar-wrap .fc-unthemed .fc-row {
	border-color: #f6f7fb
}

.calendar-wrap .fc-unthemed hr {
	border-color: #4466f2;
	background: #f6f7fb;
	margin: 0
}

.calendar-wrap .fc-unthemed tbody {
	border-color: #e8ebf2
}

.calendar-wrap .fc-unthemed td {
	border-color: #e8ebf2
}

.calendar-wrap .fc-unthemed th {
	border-color: #e8ebf2
}

.calendar-wrap .fc-unthemed thead {
	border-color: #e8ebf2
}

.calendar-wrap .fc-unthemed .fc-today {
	background: #4466f2;
	opacity: 0.1
}

.calendar-wrap .fc-highlight {
	background: #22af47;
	opacity: .3;
	filter: alpha(opacity=30)
}

.calendar-wrap .fc-bgevent {
	background: #1ea6ec;
	opacity: .3;
	filter: alpha(opacity=30)
}

.calendar-wrap .fc-nonbusiness {
	background: #e8ebf2
}

.calendar-wrap .fc-state-active {
	background-color: #4466f2 !important;
	border: 1px solid #4466f2 !important
}

.calendar-wrap .fc-state-down {
	color: #1b252a;
	background-color: #fff
}

.calendar-wrap .fc-state-hover {
	color: #1b252a;
	background-color: #fff;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	transition: background-position .1s linear
}

.calendar-wrap .fc-button-group {
	display: inline-block
}

.calendar-wrap .fc-today-button {
	font-size: 14px !important;
	text-transform: capitalize !important;
	font-weight: bold
}

.calendar-wrap .fc-popover {
	position: absolute;
	-webkit-box-shadow: 0 2px 6px #1b252a;
	box-shadow: 0 2px 6px #1b252a
}

.calendar-wrap .fc-popover .fc-header {
	padding: 8px 4px
}

.calendar-wrap .fc-popover .fc-header .fc-title {
	margin: 0 2px
}

.calendar-wrap .fc-popover .fc-header .fc-close {
	cursor: pointer
}

.calendar-wrap .fc-popover > .ui-widget-header + .ui-widget-content {
	border-top: 0
}

.calendar-wrap .fc-ltr .fc-day-grid-event .fc-resizer {
	right: -3px;
	cursor: e-resize
}

.calendar-wrap .fc-ltr .fc-axis {
	text-align: right;
	font-weight: 600
}

.calendar-wrap .fc-ltr .fc-popover .fc-header .fc-title {
	float: left
}

.calendar-wrap .fc-ltr .fc-popover .fc-header .fc-close {
	float: right
}

.calendar-wrap .fc-ltr .fc-basic-view .fc-day-number {
	text-align: right;
	font-family:"iran", work-Sans, sans-serif
}

.calendar-wrap .fc-ltr .fc-time-grid .fc-event-container {
	margin: 0 2.5% 0 2px
}

.calendar-wrap .fc-clear {
	clear: both
}

.calendar-wrap .fc-bg {
	bottom: 0
}

.calendar-wrap .fc-bg table {
	height: 100%
}

.calendar-wrap .fc-row {
	position: relative
}

.calendar-wrap .fc-row table {
	border-left: 0 hidden rgba(0, 0, 0, 0);
	border-right: 0 hidden rgba(0, 0, 0, 0);
	border-bottom: 0 hidden rgba(0, 0, 0, 0)
}

.calendar-wrap .fc-row .fc-bg {
	z-index: 1
}

.calendar-wrap .fc-row .fc-bgevent-skeleton {
	bottom: 0;
	z-index: 2
}

.calendar-wrap .fc-row .fc-bgevent-skeleton table {
	height: 100%
}

.calendar-wrap .fc-row .fc-bgevent-skeleton td {
	border-color: rgba(0, 0, 0, 0)
}

.calendar-wrap .fc-row .fc-highlight-skeleton {
	bottom: 0;
	z-index: 3
}

.calendar-wrap .fc-row .fc-highlight-skeleton table {
	height: 100%
}

.calendar-wrap .fc-row .fc-highlight-skeleton td {
	border-color: rgba(0, 0, 0, 0)
}

.calendar-wrap .fc-row .fc-content-skeleton {
	position: relative;
	z-index: 4;
	padding-bottom: 2px
}

.calendar-wrap .fc-row .fc-content-skeleton tbody td {
	border-top: 0
}

.calendar-wrap .fc-row .fc-helper-skeleton {
	z-index: 5
}

.calendar-wrap .fc-row .fc-helper-skeleton tbody td {
	border-top: 0
}

.calendar-wrap .fc-row.fc-rigid {
	overflow: hidden
}

.calendar-wrap .fc-row:first-child table {
	border-top: 0 hidden rgba(0, 0, 0, 0)
}

.calendar-wrap .fc-scroller {
	overflow-y: scroll;
	overflow-x: hidden
}

.calendar-wrap .fc-scroller > * {
	position: relative;
	width: 100%;
	overflow: hidden
}

.calendar-wrap .fc-event {
	position: relative;
	display: block;
	font-size: 12px;
	line-height: 1;
	border-radius: 4px;
	border: 1px solid #4466f2;
	background-color: #4466f2;
	color: #fff !important;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	padding: 10px
}

.calendar-wrap .fc-event:hover {
	text-decoration: none
}

.calendar-wrap .fc-event.fc-draggable {
	cursor: pointer
}

.calendar-wrap .ui-widget .fc-event {
	color: #000;
	text-decoration: none
}

.calendar-wrap .ui-widget td.fc-axis {
	font-weight: 400
}

.calendar-wrap .fc-event[href] {
	cursor: pointer
}

.calendar-wrap .fc-not-allowed {
	cursor: not-allowed
}

.calendar-wrap .fc-not-allowed .fc-event {
	cursor: not-allowed
}

.calendar-wrap .fc-day-grid-event {
	padding: 9px 6px;
	width: 90%
}

.calendar-wrap .fc-day-grid-event .fc-time {
	font-weight: 700
}

.calendar-wrap .fc-day-grid-event .fc-resizer {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7px
}

.calendar-wrap .fc-day-grid-event > .fc-content {
	white-space: nowrap;
	overflow: hidden
}

.calendar-wrap .fc-limited {
	display: none
}

.calendar-wrap .fc-more-popover {
	z-index: 2;
	width: 220px
}

.calendar-wrap .fc-more-popover .fc-event-container {
	padding: 10px
}

.calendar-wrap .fc-toolbar {
	text-align: center;
	margin-bottom: 1em
}

.calendar-wrap .fc-toolbar .fc-left,
.calendar-wrap .fc-toolbar .fc-right {
	float: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.calendar-wrap .fc-toolbar .fc-left .fc-prev-button,
.calendar-wrap .fc-toolbar .fc-left .fc-next-button,
.calendar-wrap .fc-toolbar .fc-left .fc-today-button,
.calendar-wrap .fc-toolbar .fc-right .fc-prev-button,
.calendar-wrap .fc-toolbar .fc-right .fc-next-button,
.calendar-wrap .fc-toolbar .fc-right .fc-today-button {
	background-color: transparent;
	padding: 4px 10px
}

.calendar-wrap .fc-toolbar .fc-left .fc-prev-button .fc-icon-left-single-arrow:after,
.calendar-wrap .fc-toolbar .fc-right .fc-prev-button .fc-icon-left-single-arrow:after {
	font-size: 14px;
	content: "\e64a";
	font-family: themify;
	color: #777
}

.calendar-wrap .fc-toolbar .fc-left .fc-next-button .fc-icon-right-single-arrow:after,
.calendar-wrap .fc-toolbar .fc-right .fc-next-button .fc-icon-right-single-arrow:after {
	font-size: 14px;
	content: "\e649";
	font-family: themify;
	color: #777
}

.calendar-wrap .fc-toolbar .fc-left .fc-button-group .fc-month-button {
	margin-left: 0 !important
}

.calendar-wrap .fc-toolbar .fc-right {
	float: right
}

.calendar-wrap .fc-toolbar .fc-center {
	display: inline-block;
	margin-top: 8px
}

.calendar-wrap .fc-toolbar button {
	position: relative
}

.calendar-wrap .fc-toolbar button:focus {
	z-index: 5
}

.calendar-wrap .fc-toolbar .fc-state-hover {
	z-index: 2
}

.calendar-wrap .fc-toolbar .ui-state-hover {
	z-index: 2
}

.calendar-wrap .fc-toolbar .fc-state-down {
	z-index: 3
}

.calendar-wrap .fc-toolbar .fc-state-active {
	z-index: 4
}

.calendar-wrap .fc-toolbar .ui-state-active {
	z-index: 4
}

.calendar-wrap .fc-view-container * {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-family:"iran", work-Sans, sans-serif
}

.calendar-wrap .fc-view-container :after {
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.calendar-wrap .fc-view-container :before {
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.calendar-wrap .fc-view {
	position: relative;
	z-index: 1
}

.calendar-wrap .fc-view > table {
	position: relative;
	z-index: 1
}

.calendar-wrap .fc-basic-view .fc-day-number {
	padding: 0 10px !important
}

.calendar-wrap .fc-basic-view .fc-week-number {
	padding: 0 10px;
	text-align: center
}

.calendar-wrap .fc-basic-view .fc-week-number span {
	display: inline-block;
	min-width: 1.25em
}

.calendar-wrap .fc-basic-view td.fc-day-number {
	padding-top: 10px;
	padding-bottom: 10px
}

.calendar-wrap .fc-basic-view td.fc-week-number span {
	padding-top: 10px;
	padding-bottom: 10px
}

.calendar-wrap .fc-basic-view tbody .fc-row {
	min-height: 4em
}

.calendar-wrap .fc-time-grid {
	position: relative;
	z-index: 1;
	min-height: 100%
}

.calendar-wrap .fc-time-grid table {
	border: 0 hidden rgba(0, 0, 0, 0)
}

.calendar-wrap .fc-time-grid .fc-slats {
	position: relative;
	z-index: 2
}

.calendar-wrap .fc-time-grid > hr {
	position: relative;
	z-index: 2
}

.calendar-wrap .fc-time-grid .fc-bgevent-skeleton {
	z-index: 3
}

.calendar-wrap .fc-time-grid .fc-content-skeleton {
	z-index: 5
}

.calendar-wrap .fc-time-grid .fc-highlight-skeleton {
	z-index: 4
}

.calendar-wrap .fc-time-grid .fc-helper-skeleton {
	z-index: 6
}

.calendar-wrap .fc-time-grid .fc-highlight-container {
	position: relative
}

.calendar-wrap .fc-time-grid .fc-highlight {
	position: absolute;
	left: 0;
	right: 0
}

.calendar-wrap .fc-time-grid .fc-bgevent-container {
	position: relative
}

.calendar-wrap .fc-time-grid .fc-event-container {
	position: relative
}

.calendar-wrap .fc-time-grid .fc-bgevent {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0
}

.calendar-wrap .fc-time-grid .fc-event {
	position: absolute;
	z-index: 1
}

.calendar-wrap .fc-time-grid > .fc-bg {
	z-index: 1
}

.calendar-wrap .fc-time-grid-container {
	position: relative;
	z-index: 1
}

.calendar-wrap .fc-slats td {
	height: 1.5em;
	border-bottom: 0
}

.calendar-wrap .fc-slats .ui-widget-content {
	background: 0 0
}

.calendar-wrap .fc-slats .fc-minor td {
	border-top-style: dotted
}

.calendar-wrap .fc-time-grid-event {
	overflow: hidden
}

.calendar-wrap .fc-time-grid-event.fc-not-start {
	border-top-width: 0;
	padding-top: 1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.calendar-wrap .fc-time-grid-event.fc-not-end {
	border-bottom-width: 0;
	padding-bottom: 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

.calendar-wrap .fc-time-grid-event .fc-time {
	padding: 0 1px;
	font-size: .85em;
	white-space: nowrap
}

.calendar-wrap .fc-time-grid-event .fc-title {
	padding: 0 1px
}

.calendar-wrap .fc-time-grid-event .fc-bg {
	z-index: 1;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25)
}

.calendar-wrap .fc-time-grid-event.fc-short .fc-content {
	white-space: nowrap
}

.calendar-wrap .fc-time-grid-event.fc-short .fc-time {
	display: inline-block;
	vertical-align: top
}

.calendar-wrap .fc-time-grid-event.fc-short .fc-time span {
	display: none
}

.calendar-wrap .fc-time-grid-event.fc-short .fc-time:before {
	content: attr(data-start)
}

.calendar-wrap .fc-time-grid-event.fc-short .fc-time:after {
	content: "\000A0-\000A0"
}

.calendar-wrap .fc-time-grid-event.fc-short .fc-title {
	display: inline-block;
	vertical-align: top;
	font-size: .85em;
	padding: 0
}

.calendar-wrap .fc-time-grid-event .fc-resizer {
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	bottom: 0;
	height: 8px;
	overflow: hidden;
	line-height: 8px;
	font-size: 11px;
	text-align: center;
	cursor: s-resize
}

.calendar-wrap .fc-time-grid-event .fc-resizer:after {
	content: "="
}

.calendar-wrap .fc-time-grid-event > .fc-content {
	position: relative;
	z-index: 2
}

.calendar-wrap .fc-icon-left-single-arrow:after {
	content: "\02039";
	font-weight: 700
}

.calendar-wrap .fc-icon-right-single-arrow:after {
	content: "\0203A";
	font-weight: 700
}

.calendar-wrap .fc-icon-left-double-arrow:after {
	content: "\000AB"
}

.calendar-wrap .fc-icon-right-double-arrow:after {
	content: "\000BB"
}

.calendar-wrap .fc-icon-x:after {
	content: "\000D7"
}

.calendar-wrap a.fc-more {
	font-size: .85em;
	cursor: pointer;
	text-decoration: none
}

.calendar-wrap a.fc-more:hover {
	text-decoration: underline
}

.calendar-wrap .fc-day-grid .fc-row {
	z-index: 1
}

.calendar-wrap .fc-basicDay-view .fc-content-skeleton {
	padding-top: 1px;
	padding-bottom: 1em
}

.calendar-wrap .fc-basicWeek-view .fc-content-skeleton {
	padding-top: 1px;
	padding-bottom: 1em
}

.calendar-wrap .fc-day-number.fc-other-month {
	opacity: .3;
	filter: alpha(opacity=30)
}

.calendar-wrap .fc-agenda-view .fc-day-grid {
	position: relative;
	z-index: 2
}

.calendar-wrap .fc-agenda-view .fc-day-grid .fc-row {
	min-height: 3em
}

.calendar-wrap .fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
	padding-top: 1px;
	padding-bottom: 1em
}
