@font-face {
font-family: "iran";
src: url('../fonts/iran.ttf') format('truetype');
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
	font-family: "iran";
	color: #dedede
}

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
	color: #c5c5c5
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: #dedede
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
	color: #fff;
	background: #a2ddf6
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: #8ad5f4
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.1);
	color: #ccc
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2)
}

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
	background: none;
	border: none
}

.datepicker--cells {
	font-family: "iran";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.datepicker--cell {
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 32px;
	z-index: 1
}

.datepicker--cell.-focus- {
	background: #f0f0f0
}

.datepicker--cell.-current- {
	color: #4EB5E6;
	border-color: #4EB5E6
}

.datepicker--cell.-current-.-focus- {
	color: #4a4a4a
}

.datepicker--cell.-current-.-in-range- {
	color: #4EB5E6
}

.datepicker--cell.-in-range- {
	background: rgba(92, 196, 239, 0.1);
	color: #4a4a4a;
	border-radius: 0
}

.datepicker--cell.-in-range-.-focus- {
	background-color: rgba(92, 196, 239, 0.2)
}

.datepicker--cell.-disabled- {
	cursor: default;
	color: #aeaeae
}

.datepicker--cell.-disabled-.-focus- {
	color: #aeaeae
}

.datepicker--cell.-disabled-.-in-range- {
	color: #a1a1a1
}

.datepicker--cell.-disabled-.-current-.-focus- {
	color: #aeaeae
}

.datepicker--cell.-range-from- {
	border: 1px solid rgba(92, 196, 239, 0.5);
	background-color: rgba(92, 196, 239, 0.1);
	border-radius: 8px 0 0 8px
}

.datepicker--cell.-range-to- {
	border: 1px solid rgba(92, 196, 239, 0.5);
	background-color: rgba(92, 196, 239, 0.1);
	border-radius: 0 8px 8px 0
}

.datepicker--cell.-range-from-.-range-to- {
	border-radius: 8px
}

.datepicker--cell.-selected- {
	color: #fff;
	border: none;
	background: #5cc4ef
}

.datepicker--cell.-selected-.-current- {
	color: #fff;
	background: #5cc4ef
}

.datepicker--cell.-selected-.-focus- {
	background: #45bced
}

.datepicker--cell:empty {
	cursor: default
}

.datepicker--days-names {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 8px 0 3px
}

.datepicker--day-name {
	color: #FF9A19;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	text-transform: uppercase;
	font-size: .8em
}

.datepicker--cell-day {
	width: 14.28571%;
	height: 34px
}

.datepicker--cells-months {
	height: 170px
}

.datepicker--cell-month {
	width: 33.33%;
	height: 25%
}

.datepicker--years {
	height: 170px
}

.datepicker--cells-years {
	height: 170px
}

.datepicker--cell-year {
	width: 25%;
	height: 33.33%
}

.datepickers-container {
	position: absolute;
	left: 0;
	top: 0
}

@media print {
	.datepickers-container {
		display: none
	}
}

.datepicker {
	background: #fff;
	border-radius: 8px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-family: work-Sans, sans-serif;
	font-size: 14px;
	color: #4a4a4a;
	width: 250px;
	position: absolute;
	left: -100000px;
	opacity: 0;
	padding: 10px;
	-webkit-transition: opacity .3s ease, left 0s .3s, -webkit-transform .3s ease;
	transition: opacity .3s ease, left 0s .3s, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, left 0s .3s;
	transition: opacity .3s ease, transform .3s ease, left 0s .3s, -webkit-transform .3s ease;
	z-index: 100;
	-webkit-box-shadow: 0 4px 14px rgba(174, 197, 231, 0.5);
	box-shadow: 0 4px 14px rgba(174, 197, 231, 0.5)
}

.datepicker.-from-top- {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px)
}

.datepicker.-from-right- {
	-webkit-transform: translateX(8px);
	transform: translateX(8px)
}

.datepicker.-from-bottom- {
	-webkit-transform: translateY(8px);
	transform: translateY(8px)
}

.datepicker.-from-left- {
	-webkit-transform: translateX(-8px);
	transform: translateX(-8px)
}

.datepicker.active {
	opacity: 1;
	-webkit-transform: translate(0);
	transform: translate(0);
	-webkit-transition: opacity .3s ease, left 0s 0s, -webkit-transform .3s ease;
	transition: opacity .3s ease, left 0s 0s, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, left 0s 0s;
	transition: opacity .3s ease, transform .3s ease, left 0s 0s, -webkit-transform .3s ease
}

.datepicker-inline .datepicker {
	position: static;
	left: auto;
	right: auto;
	opacity: 1;
	-webkit-transform: none;
	transform: none
}

.datepicker-inline .datepicker--pointer {
	display: none
}

.datepicker--content {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 4px
}

.-only-timepicker- .datepicker--content {
	display: none
}

.datepicker--pointer {
	position: absolute;
	background: #fff;
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	width: 10px;
	height: 10px;
	z-index: -1
}

.-top-left- .datepicker--pointer,
.-top-center- .datepicker--pointer,
.-top-right- .datepicker--pointer {
	top: calc(100% - 4px);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg)
}

.-right-top- .datepicker--pointer,
.-right-center- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
	right: calc(100% - 4px);
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg)
}

.-bottom-left- .datepicker--pointer,
.-bottom-center- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
	bottom: calc(100% - 4px);
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg)
}

.-left-top- .datepicker--pointer,
.-left-center- .datepicker--pointer,
.-left-bottom- .datepicker--pointer {
	left: calc(100% - 4px);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.-top-left- .datepicker--pointer,
.-bottom-left- .datepicker--pointer {
	left: 10px
}

.-top-right- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
	right: 10px
}

.-top-center- .datepicker--pointer,
.-bottom-center- .datepicker--pointer {
	left: calc(50% - 10px / 2)
}

.-left-top- .datepicker--pointer,
.-right-top- .datepicker--pointer {
	top: 10px
}

.-left-bottom- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
	bottom: 10px
}

.-left-center- .datepicker--pointer,
.-right-center- .datepicker--pointer {
	top: calc(50% - 10px / 2)
}

.datepicker--body {
	display: none
}

.datepicker--body.active {
	display: block !important
}

.datepicker--nav {
	color: #4466f2;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #efefef;
	min-height: 32px;
	padding: 4px
}

.-only-timepicker- .datepicker--nav {
	display: none
}

.datepicker--nav-title,
.datepicker--nav-action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.datepicker--nav-action {
	width: 32px;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #4466f2
}

.datepicker--nav-action:hover {
	background: #4466f2
}

.datepicker--nav-action.-disabled- {
	visibility: hidden
}

.datepicker--nav-action svg {
	transform: rotateY(180deg);
	width: 32px;
	height: 32px
}

.datepicker--nav-action path {
	fill: none;
	stroke: #fff;
	stroke-width: 2px
}

.datepicker--nav-title {
	font-family: "iran";
	border-radius: 8px;
	padding: 0 8px
}

.datepicker--nav-title i {
	font-family: "iran";
	font-style: normal;
	color: #4466f2;
	margin-left: 5px
}

.datepicker--nav-title.-disabled- {
	cursor: default;
	background: none
}

.datepicker--buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 4px;
	border-top: 1px solid #efefef
}

.datepicker--button {
	color: #4EB5E6;
	cursor: pointer;
	border-radius: 8px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 32px
}

.datepicker--button:hover {
	color: #4a4a4a;
	background: #f0f0f0
}
