<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="آزمایش فرم ثبت اطلاعات کاربران">
    <meta name="keywords"
          content="فرم، ثبت ، اطلاعات، کاربران">
    <meta name="author" content="Rojina Computer Ltd. (http://avs.ir)">
    <link rel="icon" href="{% static 'index/assets/img/logo.png' %}">
    <title>فرم آزمایشی ثبت اطلاعات کاربران</title>
    <!-- Google font-->
</head>
<body main-theme-layout="rtl">



<!-- Loader starts-->
</body>

</html>
