<html lang="en-US" dir="rtl">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="{% static 'generator/dashboard.style.css' %}" type="text/css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/3ac8a25fc5.js" crossorigin="anonymous"></script>
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all"
        rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"
        rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all"
        rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"
        rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all"
        rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"
        rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all"
        rel="stylesheet">
</head>

<body class="container" style="
background: #1A233A;
max-width: none;
color: #BDD1F8;
font-family: IRANSans;
text-align: right;
">
    <div class="row">

        <!-- <div class="col-12 col-md-7" style="padding-top: 15px;"> -->
            <div class="col-12" style="padding-top: 15px;">
            <h2 class="header">
                <i style="
color: #ff5b5c;
margin-left: 10px;
" class="fas fa-cogs" aria-hidden="true"></i>
                تنظیمات
                <i class="fas fa-chevron-left" style="font-size: 18px;margin-left: 10px;" aria-hidden="true"></i> فرم
                <span style="
color: #fdac41;
">من</span></h2>

            <div class="row">

                <div class="col-12">

                    <h5>
                        <i class="fas fa-align-right" aria-hidden="true"></i>
                        <span>فرم</span>
                    </h5>

                    <div class="row">
                        <label class="mfl-input col-2 col-sm-1 col-md-1"
                            style=" margin-right: 20px !important;">نام
                            فرم :</label>
                        <input id="formNameTextbox" value="{{ form.name }}" type="text" class="mfl-input"
                            style="width: 30% !important; display: inline !important; margin-right: 5px !important;" />
                    </div>
                    <div class="row">
                        <label class="mfl-input col-2 col-sm-1 col-md-1"
                            style="margin-right: 20px !important;">توضیحات
                            فرم :</label>
                        <input id="formDescriptionTextbox" value="{{ form.description }}" type="text" class="mfl-input"
                            style="width: 30% !important; display: inline !important; margin-right: 5px !important;" />
                    </div>
                </div>

                <div class="col-12">



                    <h5 class="settings-title">
                        <i class="fas fa-align-right" aria-hidden="true"></i>
                        <span>فیلدها</span>
                    </h5>

                    <div id="bodyMainPage" class="settings-body">
                        <div><small>کدام یک از فیلدهای زیر می خواهید در فرم باشد؟</small></div>
                        <!-- <div id="specifications" class="row optionalFields">
                            <div class="title col-12"><i class="fas fa-chevron-left" aria-hidden="true"></i>مشخصات
                            </div>
                        </div>
                        <div id="delivery" class="row optionalFields">
                            <div class="title col-12"><i class="fas fa-chevron-left" aria-hidden="true"></i>زمان ارسال
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-12">
                    <h5 class="settings-title">
                        <i class="fab fa-css3-alt" aria-hidden="true"></i>
                        <span>استایل&zwnj;ها</span>
                    </h5>
                    <div class="settings-body styles">

                        <div>
                            <span>قالب:</span>
                            <select id="template">
                                <option value="paginated">صفحه‌بندی شده</option>
                                <option value="simple">ساده</option>
                            </select>
                        </div>

                        <div><span>زمینه:</span><span class="btn-group btn-group-toggle" data-toggle="buttons"
                                style="direction: ltr;"><label class="btn btn-info active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked=""> تیره
                                    <i class="fas fa-check" style="
font-size: 10px;
margin-left: 5px;
" aria-hidden="true"></i></label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> روشن
                                </label>
                            </span></div>
                        <div>
                            <span>فونت:</span>
                            <select id="formFontType">
                                <option value="0">ایران سانس</option>
                                <option value="1">یکان</option>
                                <option value="2">آریال</option>
                            </select>
                        </div>


                    </div>
                </div>



                <div class="col-12" style="text-align: center; margin: 30px 0;">
                    <!-- <a href="#" download="myform.js" class="btn btn-danger" id="download">دانلود فایل جاوا اسکریپت</a> -->

                    <button class="btn btn-danger" onclick="getActiveFields()">ایجاد فرم</button>

                </div>
            </div>
        </div>



        <!-- <div id="iframe-wrapper" class="col-12 col-md-5" style="border-right: 1px solid #464D5C;">
            <h5 style="
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
">پیش نمایش</h5>
            <iframe style="border: 0;width: 100%; height: 100vh;" __idm_frm__="343"></iframe>
        </div> -->

    </div>
    <script>
        var formID = "{{ id }}"
    </script>
    <script src="{% static 'generator/dashboard.js' %}"></script>
</body>

</html>