<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Themex Multipurpose HTML Template</title>

    <!-- All Plugins Css -->
    <link href="{% static 'index/assets/css/plugins.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'index/assets/css/styles.css' %}" rel="stylesheet">
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css'%} -->
<!-- ============================================================== -->
<div class="preloader" style="display: none;">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Themex</p>
    </div>
</div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <div class="topbar m-top-light-shadow" id="top">
        <div class="header dark-text">
            <div class="container po-relative">
                <nav class="navbar navbar-expand-lg header-nav-bar">
                    <a href="index-2.html" class="navbar-brand"><img
                            src="{% static 'panel/assets/images/endless-logo.png' %}"
                            alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="ti-align-right"></span></button>
                    <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown nav-dropdown">
                                <a class="nav-link dropdown-toggle" href="#">خانه </a>
                            </li>

                            <li class="nav-item dropdown nav-dropdown">
                                <a class="nav-link dropdown-toggle" href="#">درباره ما </a>
                            </li>

                            <li class="nav-item dropdown nav-dropdown">
                                <a class="nav-link dropdown-toggle" href="#">ارتباط با ما </a>
                            </li>

                        </ul>

                        <div class="act-buttons">

                                {% if request.user.is_authenticated %}
                                    <a class="btn btn-success font-14" href="{% url 'panel:userpanel_dashboard' %}">
                                    پنل کاربری
                                    </a>
                                {% else %}
                                    <a class="btn btn-success font-14" href="{% url 'accounts:login' %}">
                                    ورود / ثبت نام
                                     </a>
                                {% endif %}


                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->


    <!-- ============================ Hero Banner  Start================================== -->
    <div class="hero-header jumbo-banner dark-text digital-mark"
         style="background: #f9fafe url({% static 'index/assets/img/tbg-4.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero-content">
                        <h1>ما یک آژانس <span class="text-info">دیجیتال</span> هستیم.</h1>
                        <p class="lead-i mt-4">مسابقه ترافیک من را دریافت کنید و یک مشاوره سفارشی داشته باشید که از طریق
                            چگونگی افزایش ترافیک شما پیاده می شود.</p>
                        <div class="btn-wrap mt-4">
                            <a href="#" class="btn btn-primary btn-rounded btn-lg">اطلاعات بیشتر</a>
                            <a href="#" class="btn-trans-video ml-2"><i class="ti-control-play"></i>تماشای ویدیو</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 hidden-xs">
                    <div class="hero-content">
                        <img src="{% static 'index/assets/img/digital.png' %}" class="img-responsive" alt=""/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- ============================ Hero Banner End ================================== -->

    <!-- ============================ Make Collaboration Start ================================== -->
    <section>
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="mt-4">
                        <h6 class="text-primary">ماموریت ما</h6>
                        <h2>راه حل موثر<br>رشد بهتر</h2>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-sm-12">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0" data-aos="fade-left"
                                 data-aos-duration="1200">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/deadline.png' %}" class="img-responsive"
                                         alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>سرعت بسیار بالا</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0" data-aos="fade-left"
                                 data-aos-duration="1200">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/animation.png' %}" class="img-responsive"
                                         alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>ساختن طراحی شما</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0" data-aos="fade-left"
                                 data-aos-duration="1200">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/goals.png' %}" class="img-responsive" alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>کاملا سئو دوستانه</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0" data-aos="fade-left"
                                 data-aos-duration="1200">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/photostock.png' %}" class="img-responsive"
                                         alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>کار با همه مرورگرها</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Make Collaboration End ================================== -->

    <!-- ============================ Counter Start ================================== -->
    <section class="image-bg" style="background:#0f7dff url({% static 'index/assets/img/banner-55.png' %}) no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-heading light mx-auto">
                        <h2>موفقیت و جوایز ما</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون.</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="count-box text-center">
                        <h2 class="count">30</h2>
                        <h5>سال موفق</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="count-box text-center">
                        <h2 class="count">320</h2>
                        <h5>مجموع کارمند</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="count-box text-center">
                        <h2 class="count">710</h2>
                        <h5>برنده جایزه</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="count-box text-center">
                        <h2 class="count">167</h2>
                        <h5>شاخه های مرده</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="ht-80"></div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Counter End ================================== -->

    <!-- ============================ Features Start ================================== -->
    <section class="pd-0 overlay-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <div class="row mrg-0 bg-white box-shadow pt-5 border--radius">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/market-analysiss.png' %}"
                                         class="img-responsive" alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>تحلیل بازار</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/email-marketing.png' %}"
                                         class="img-responsive" alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>بازاریابی ایمیلی</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/keyword.png' %}" class="img-responsive"
                                         alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>تحلیل کلید واژه</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="large-features-2 style-1 shadow-0 border-0">
                                <div class="large-features-2-thumb">
                                    <img src="{% static 'index/assets/img/article.png' %}" class="img-responsive"
                                         alt=""/>
                                </div>
                                <div class="large-features-2-detail">
                                    <h4>بازاریابی محتوا</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Features Start ================================== -->

    <!-- ============================ Service list Start ================================== -->
    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>چرا <span class="text-primary">35،000 نفر</span> به تم ایکس اعتماد کردند؟</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون.</p>
                    <ul class="list-style style-1">
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون
                        </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون
                        </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="small-features-box mb-4" data-aos="fade-down" data-aos-duration="1200">
                                <div class="small-features-icon bg-light-success text-success">
                                    <i class="ti-layers-alt"></i>
                                </div>
                                <h4 class="small-features-caption">بازاریابی حسابداری</h4>
                            </div>
                            <div class="small-features-box mb-4" data-aos="fade-down" data-aos-duration="1200">
                                <div class="small-features-icon bg-light-warning text-warning">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                                <h4 class="small-features-caption">اعتبار بازیابی</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="small-features-box mb-4" data-aos="fade-up" data-aos-duration="1200">
                                <div class="small-features-icon bg-light-info text-info">
                                    <i class="ti-write"></i>
                                </div>
                                <h4 class="small-features-caption">استراتژی جستجو محلی</h4>
                            </div>
                        </div>

                        <div>
                        </div>

                    </div>

                </div>

    </section>
    <div class="clearfix"></div>
    <!-- ============================ Service list End ================================== -->

    <!-- ============================ Testimonial Start ================================== -->
    <section>
        <div class="container">

            <div class="row">
                <div class="col text-center">
                    <div class="sec-heading mx-auto">
                        <h2>مردم چه می گویند؟</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="owl-carousel" id="testimonials-two">

                    <!-- Single Testimonials -->
                    <div class="item">
                        <div class="testimonial-wrap style-2">
                            <div class="client-thumb-box">
                                <div class="client-thumb-content">
                                    <div class="client-thumb">
                                        <img src="{% static 'index/assets/img/team-img-5.png' %}"
                                             class="img-responsive img-circle" alt="">
                                    </div>
                                    <h5 class="mb-0">آرش خادملو</h5>
                                    <span>راست چین</span>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>

                        </div>
                    </div>

                    <!-- Single Testimonials -->
                    <div class="item">
                        <div class="testimonial-wrap style-2">
                            <div class="client-thumb-box">
                                <div class="client-thumb-content">
                                    <div class="client-thumb">
                                        <img src="{% static 'index/assets/img/team-img-3.png' %}"
                                             class="img-responsive img-circle" alt="">
                                    </div>
                                    <h5 class="mb-0">آرش خادملو</h5>
                                    <span>راست چین</span>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>

                        </div>
                    </div>

                    <!-- Single Testimonials -->
                    <div class="item">
                        <div class="testimonial-wrap style-2">
                            <div class="client-thumb-box">
                                <div class="client-thumb-content">
                                    <div class="client-thumb">
                                        <img src="{% static 'index/assets/img/team-img-2.png' %}"
                                             class="img-responsive img-circle" alt="">
                                    </div>
                                    <h5 class="mb-0">آرش خادملو</h5>
                                    <span>مدیریت سئو</span>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>

                        </div>
                    </div>

                    <!-- Single Testimonials -->
                    <div class="item">
                        <div class="testimonial-wrap style-2">
                            <div class="client-thumb-box">
                                <div class="client-thumb-content">
                                    <div class="client-thumb">
                                        <img src="{% static 'index/assets/img/team-img-5.png' %}"
                                             class="img-responsive img-circle" alt="">
                                    </div>
                                    <h5 class="mb-0">آرش خادملو</h5>
                                    <span>راست چین</span>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>

                        </div>
                    </div>

                    <!-- Single Testimonials -->
                    <div class="item">
                        <div class="testimonial-wrap style-2">
                            <div class="client-thumb-box">
                                <div class="client-thumb-content">
                                    <div class="client-thumb">
                                        <img src="{% static 'index/assets/img/team-img-3.png' %}"
                                             class="img-responsive img-circle" alt="">
                                    </div>
                                    <h5 class="mb-0">آرش خادملو</h5>
                                    <span>راست چین</span>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>

                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Testimonial End ================================== -->

    <!-- ============================ Sign up Start ================================== -->
    <section class="company-brand">
        <div class="container">

            <div class="row">

                <div class="owl-carousel owl-loaded owl-drag" id="company-brand">

                    <!-- Single Company Brand -->


                    <!-- Single Company Brand -->


                    <!-- Single Company Brand -->


                    <!-- Single Company Brand -->


                    <!-- Single Company Brand -->


                    <!-- Single Company Brand -->


                    <!-- Single Company Brand -->


                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(-1302px, 0px, 0px); transition: all 0.25s ease 0s; width: 2790px;">
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-5.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-6.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-7.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-3.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-4.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-5.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-6.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-7.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-3.png' %}" alt="">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 186px;">
                                <div class="item">
                                    <img src="{% static 'index/assets/img/shop-logo-4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span>
                        </button>
                        <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>

            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Sign up End ================================== -->

    <!-- ============================ Footer Start ================================== -->
    <footer class="light-footer">
        <div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h4 class="widget-title">لینک های مفید</h4>
                            <ul class="footer-menu">
                                <li><a href="#">بازاریابی دیجیتال</a></li>
                                <li><a href="#">کسب و کار و شرکت</a></li>
                                <li><a href="#">صفحه لندینگ</a></li>
                                <li><a href="#">استخدام و تقدیر</a></li>
                                <li><a href="#">نرم افزار و برنامه</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h4 class="widget-title">لینک های مفید</h4>
                            <ul class="footer-menu">
                                <li><a href="#">بازاریابی دیجیتال</a></li>
                                <li><a href="#">کسب و کار و شرکت</a></li>
                                <li><a href="#">صفحه لندینگ</a></li>
                                <li><a href="#">استخدام و تقدیر</a></li>
                                <li><a href="#">نرم افزار و برنامه</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h4 class="widget-title">لینک های مفید</h4>
                            <p>7744 خیابان یکم کوچه دوم<br>
                                تهران، غرب 714258</p>
                            <p>support@themex77.com</p>
                            <p>777-444-2222</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h4 class="widget-title">فالو کردن ما</h4>
                            <ul class="footer-bottom-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>

                            <form class="signup-frm mt-4">
                                <input type="email" class="form-control sigmup-me" placeholder="آدرس ایمیل شما"
                                       required="required">
                                <button type="submit" class="btn btn-info"><i class="ti-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-12 col-md-12 text-center">
                        <p class="mb-0">© 2019 تم ایکس. بومی سازی توسط <a href="https://drizvato.com/">آرش خادملو</a>
                            همه حقوق محفوظ است</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- ============================ Footer End ================================== -->

    <!-- Modal -->
    <div class="modal fade" id="getstarted" tabindex="-1" role="dialog" aria-labelledby="registermodal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="registermodal">
                <div class="modal-header theme-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">شروع به کار با تم ایکس</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <input type="text" class="form-control" placeholder="نام کامل">
                            </div>

                            <div class="form-group col-md-6 col-sm-6">
                                <input type="email" class="form-control" placeholder="ایمیل شما">
                            </div>

                            <div class="form-group col-md-6 col-sm-6">
                                <input type="text" class="form-control" placeholder="شماره">
                            </div>

                            <div class="form-group col-md-6 col-sm-6">
                                <select class="form-control">
                                    <option>بودجه شما</option>
                                    <option>5000 تومان - 10،000 تومان</option>
                                    <option>10000 تومان - 15،000 تومان</option>
                                    <option>15000 تومان - 20،000 تومان</option>
                                    <option>20000 تومان - 50،000 تومان</option>
                                </select>
                            </div>

                            <div class="form-group col-md-12 col-sm-12">
                                <textarea class="form-control" placeholder="نظر"></textarea>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <ul class="no-ul-list mb-2">
                                    <li>
                                        <input id="checkbox-1" class="checkbox-custom" name="checkbox-1"
                                               type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label"><a href="#">با شرایط و
                                            ضوابط موافقت کنید</a></label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <button type="button" class="btn btn-primary">ارسال درخواست</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'index/assets/js/popper.min.js' %}"></script>
<script src="{% static 'index/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'index/assets/js/aos.js' %}"></script>
<script src="{% static 'index/assets/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'index/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery-rating.js' %}"></script>
<script src="{% static 'index/assets/js/slick.js' %}"></script>
<script src="{% static 'index/assets/js/slider-bg.js' %}"></script>
<script src="{% static 'index/assets/js/lightbox.js' %}"></script>
<script src="{% static 'index/assets/js/imagesloaded.js' %}"></script>
<script src="{% static 'index/assets/js/isotope.min.js' %}"></script>
<script src="{% static 'index/assets/js/custom.js' %}"></script>
<script src="https://parsleyjs.org/dist/parsley.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->

{% block script %}{% endblock %}

</body>

</html>