<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="ملریو: فرمهای هوشمند و مسیریابی ایده آل">
    <meta name="keywords"
          content="ملریو: فرمهای هوشمند و مسیریابی ایده آل">
    <meta name="author" content="M.Mohamadi">
    <link rel="icon" href="{% static 'panel/assets/images/favicon.png' %}">
    <title>ملریو - ورود به حساب کاربری</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/fontawesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/feather-icon.css' %}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'panel/assets/css/light-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/responsive.css' %}">
</head>
<body main-theme-layout="rtl">
<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="loader bg-white">
        <div class="whirly-loader"></div>
    </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper">
    <div class="container-fluid p-0">
        <!-- login page start-->
        <div class="authentication-main">
            <div class="row">
                <div class="col-md-12">
                    <div class="auth-innerright">
                        <div class="authentication-box">
                            <div class="text-center"><img src="{% static 'panel/assets/images/logo/melrio_logo_white.png' %}" width="50%" height="80px"
                                                          alt=""></div>
                            <div class="card mt-4">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h4>ورود</h4>
                                        <h6>شماره موبایل و رمز عبور خود را وارد کنید </h6>

                                        {% include 'includes/msg.html' %}

                                    </div>
                                    <form class="theme-form" method="post" id="login_form" data-parsley-validate="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-form-label pt-0">شماره موبایل</label>
                                            <input class="form-control" type="text" name="phoneNumber" required data-parsley-required-message="پر کردن این فیلد الزامی است">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">رمز عبور</label>
                                            <input class="form-control" type="password" name="password" required data-parsley-required-message="پر کردن این فیلد الزامی است">
                                        </div>
                                        <div class="checkbox p-0">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">مرا به خاطر بسپار</label>
                                        </div>


                                        <div class="form-group form-row mt-3 mb-0">
                                            <button class="btn btn-primary btn-block" type="submit">ورود</button>
                                        </div>

                                        <div class="text-center m-t-10">
                                            <p>حساب کاربری ندارید؟ <a href="{% url 'accounts:register' %}">ساخت حساب کاربری</a>

                                                |
                                                <span><a href="{% url 'accounts:RecoverPassword' %}"> بازیابی رمز عبور </a></span>


                                            </p>

{#                                            <p>رمز عبور خود را فراموش کرده اید؟ <a href="{% url 'accounts:RecoverPassword' %}">فراموشی رمز عبور</a>#}
{#                                            </p>#}

{#                                            <p>#}
{#                                                 <a href="{% url 'home' %}">بازگشت به خانه</a> <i class="fa fa-arrow-left"></i>#}
{#                                            </p>#}
                                        </div>


                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login page end-->
    </div>
</div>
<!-- latest jquery-->
<script src="{% static 'panel/assets/js/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap js-->
<script src="{% static 'panel/assets/js/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'panel/assets/js/bootstrap/bootstrap.js' %}"></script>
<!-- feather icon js-->
<script src="{% static 'panel/assets/js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'panel/assets/js/icons/feather-icon/feather-icon.js' %}"></script>
<!-- Sidebar jquery-->
<script src="{% static 'panel/assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'panel/assets/js/config.js' %}"></script>
<!-- Plugins JS start-->
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="{% static 'panel/assets/js/script.js' %}"></script>
<script src="https://parsleyjs.org/dist/parsley.min.js"></script>
<!-- Plugin used-->
<script>
    $('#login_form').parsley()
</script>
</body>

</html>