<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="ملریو: فرمهای هوشمند و مسیریابی ایده آل">
    <meta name="keywords"
          content="ملریو: فرمهای هوشمند و مسیریابی ایده آل">
    <meta name="author" content="M.Mohamadi">
    <link rel="icon" href="{% static 'panel/assets/images/favicon.png' %}">
    <title>ملریو - ساخت حساب کاربری</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/fontawesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/feather-icon.css' %}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'panel/assets/css/light-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/responsive.css' %}">
</head>
<body main-theme-layout="rtl">
<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="loader bg-white">
        <div class="whirly-loader"></div>
    </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- sign up page start-->
        <div class="authentication-main">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="auth-innerright">
                        <div class="authentication-box">
                            <div class="text-center"><img  src="{% static 'panel/assets/images/logo/melrio_logo_white.png' %}" width="50%" height="80px"
                                                           alt=""></div>



                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        {{ message|safe }}
                                    {% endfor %}
                                </ul>
                            {% endif %}



                            <div class="card mt-4 p-4">
                                <h4 class="text-center">کاربر جدید</h4>
                                <h6 class="text-center">شماره موبایل و رمز عبور خود را برای ثبت نام وارد کنید</h6>
                                <form class="theme-form" action="{% url 'accounts:register' %}" method="post" id="register_form" data-parsley-validate="">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-form-label">نام</label>
                                                <input class="form-control" name="first_name" type="text" required data-parsley-required-message="پر کردن این فیلد الزامی است">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-form-label">نام خانوادگی</label>
                                                <input class="form-control" name="last_name" type="text" required data-parsley-required-message="پر کردن این فیلد الزامی است">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-form-label">شماره موبایل</label>
                                                <input class="form-control" name="phone_number" type="text" required data-parsley-required-message="پر کردن این فیلد الزامی است">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-form-label">رمز عبور</label>
                                                <input class="form-control" name="password" type="password" required data-parsley-required-message="پر کردن این فیلد الزامی است">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-lg-3 control-label text-lg-right"
                                                       for="stateSelect">استان</label>
                                                <div class="col-lg-8">
                                                    <select id="stateSelect" name="state" required data-parsley-required-message=" انتخاب این فیلد الزامی است"
                                                            class="form-control btn-square">
                                                        <option value="-1">انتخاب کنید</option>
                                                        {% for state in states %}
                                                            <option value="{{ state.id }}">{{ state.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-lg-3 control-label text-lg-right"
                                                       for="citySelect">شهر</label>
                                                <div class="col-lg-8">
                                                    <select id="citySelect" name="city"
                                                            class="form-control btn-square" disabled>
                                                        <option value="-1">انتخاب کنید</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-form-label">نوع حساب کاربری</label>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="media p-20">
                                                        <div class="radio radio-primary mr-3">
                                                            <input id="radio14" type="radio" name="user_type"
                                                                   value="0"
                                                                   data-original-title="" title="" checked>
                                                            <label for="radio14"></label>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="mt-0 mega-title-badge">حقیقی</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="media p-20">
                                                        <div class="radio radio-secondary mr-3">
                                                            <input id="radio13" type="radio" name="user_type"
                                                                   value="1"
                                                                   data-original-title="" title="">
                                                            <label for="radio13"></label>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="mt-0 mega-title-badge">حقوقی</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">ثبت نام</button>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="text-left mt-2 m-l-20">آیا شما قبلا کاربر هستید؟  <a
                                                    class="btn-link text-capitalize"
                                                    href="{% url 'accounts:login' %}">ورود</a></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sign up page ends-->
    </div>
</div>
<!-- page-wrapper Ends-->
<!-- latest jquery-->
<script src="{% static 'panel/assets/js/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap js-->
<script src="{% static 'panel/assets/js/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'panel/assets/js/bootstrap/bootstrap.js' %}"></script>
<!-- feather icon js-->
<script src="{% static 'panel/assets/js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'panel/assets/js/icons/feather-icon/feather-icon.js' %}"></script>
<!-- Sidebar jquery-->
<script src="{% static 'panel/assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'panel/assets/js/config.js' %}"></script>
<!-- Plugins JS start-->
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="{% static 'panel/assets/js/script.js' %}"></script>
<!-- Plugin used-->
<script src="https://parsleyjs.org/dist/parsley.min.js"></script>
<script>
    $('#stateSelect').on('change', function () {
        var stateId = $(this).val();

        $.ajax({
            type: "GET",
            url: "/api/v1/Citys?state=" + stateId,
            success: function (data) {
                var select = "<option value='-1'>انتخاب کنید</option>"
                $('#citySelect').prop("disabled", false);
                for (var i = 0; i < data.length; i++) {
                    select += "<option value='" + data[i]["id"] + "'>" + data[i]["name"] + "</option>"
                }
                $('#citySelect').html(select);
            }
        });
    });
</script>
</body>

</html>